* {
  margin: 0;
  padding: 0;
}

body {
  padding: 16px;
  background-color: $obvious-color;
  color: white;
}

body, input, button {
  font: 16px "Source Sans Pro";
}

h1 {
  margin-top: 24px;
  font-size: 48px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}

h2 {
  font-size: 38px;
}

p {
  margin: ($padding * 2) 0 ($padding * 2) 0;
  padding: 0;
  text-align: justify;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: $obvious-color;
}

button {
  min-width: 192px;
  margin-top: 8px;
  padding: 12px 16px 12px 16px;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #2ECC71;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
}