@media only screen and (min-width: ($tile-size * 2) + ($spacing * 6)) {

  body {
    padding: $spacing;
  }

  #Wrapper {
    border-radius: $radius;
  }

  .tile-column {
    margin-bottom: 0;
  }

  #Wrapper aside {
    float: left;
    width: $tile-size;
  }

  #Wrapper main {
    margin-left: $tile-size + $spacing;
  }

}

@media only screen and (min-width: ($tile-size * 3) + ($spacing * 6)) {

  .tile {
    float: left;
    width: 50%;
  }

  .tile-row {
    .tile {
      padding: $spacing / 2;
    }
    .tile:first-child {
      padding-left: 0;
      padding-bottom: $spacing / 2;
    }
    .tile:last-child {
      padding-right: 0;
      padding-bottom: $spacing / 2;
    }
  }

  .tile-row:first-child {
    .tile {
      padding-top: 0;
    }
  }

  .tile-row:last-child {
    .tile {
      padding-bottom: 0;
    }
  }

}