.tile-column {
  overflow: auto;
  height: 100%;
}

.tile-column.no-right-padding {
  .tile {
    padding-right: 0;
  }
}

.tile-row {
  clear: both;
}

.tile-row:last-child {
  .tile:last-child {
    height: $tile-size;
    padding-bottom: 0;
  }
}

.tile-row.spread-tall {
  min-height: ($tile-size * 2) + $spacing;
  .tile {
    height: ($tile-size * 2);
  }
}

.tile {
  float: left;
  width: 100%;
  height: $tile-size + $spacing;
  max-width: $tile-size + $spacing;
  padding-right: $spacing;
  padding-bottom: $spacing;
  z-index: 0;
  opacity: 0;
  overflow: auto;
  > div {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $spacing;
    border-radius: $radius;
    overflow: auto;
  }
}

// .tile:last-child {
//   max-width: $tile-size;
// }

.tile:not(.static) > div {
  cursor: pointer;
}

.tile div img.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: $radius;
  opacity: 0.5;
}

.tile h1 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.tile p {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.tile a.inner-link {
  color: $fg;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.15);
  text-decoration: none;
  padding: 0 3px 1px 3px;
  margin: 0 2px 0 1px;
  border-radius: $radius;
}

.tile a.inner-link:first-child {
  margin-left: 0;
}

.tile a.inner-link.big {
  display: block;
  max-width: 142px;
  margin-top: ($spacing / 2);
  padding: ($spacing / 3) $spacing ($spacing / 3) $spacing;
  text-align: center;
}

.tile.spread-wide {
  width: 100%;
  max-width: ($tile-size * 2) + ($spacing * 2);
}