.tile.me {
  color: green;
  background-image: url(https://scontent-a-lhr.xx.fbcdn.net/hphotos-xaf1/l/t1.0-9/10154996_10151873753062242_1300283340_n.jpg);
  background-size: auto 100%;
}

.tile.me-text h1 {
  opacity: 1;
}

.tile.me-text p.subtitle {
  opacity: 0.5;
}

.tile.me-text p.icons {
  font-size: 225%;
  a {
    margin-right: ($spacing / 2);
    color: $fg;
  }
}