//Fonts
$font-name: "Source Sans Pro";
$font-family: $font-name, "Arial", "Helvetica", sans-serif;
$font-size: 15px;

//Sizes
$spacing: 16px;
$radius: 3px;
$tile-size: 256px;
$scrollbar-width: 16px;

//Generic Imports
@import "_colors.scss";
@import "_core.scss";
@import "_tile.scss";
@import "_tile-me-text.scss";
@import "_tile-main.scss";
@import "_nano.scss";
@import "_responsive.scss";