div.wrapper.bar.no-print.fade(data-custom-fade="0.5")
  p

    a(href="#{baseHref}")#go-home
      span.fa.fa-home
      span Go Home

    //- a(href="x")#send-message
    //-   span.fa.fa-envelope
    //-   span Send Me a Message

    a(href="https://github.com/jadaradix/jadaSite")#fork-github
      span.fa.fa-github-alt
      span Fork this on GitHub