div.wrapper.bar.no-print
  p

    a(href="x", data-custom-fade="0.5").fade#go-back
      span.fa.fa-arrow-left
      span Go Back

    a(href="#{baseHref}", data-custom-fade="0.5").fade#go-home
      span.fa.fa-home
      span Go Home

    a(href="x", data-custom-fade="0.5").fade#send-message
      span.fa.fa-envelope
      span Send Me a Message

    a(href="https://github.com/jadaradix/jadaSite", data-custom-fade="0.5").fade#fork-this-site
      span.fa.fa-github-alt
      span Fork this Site