section.fade
  header
    h2 Personal Development &amp; Skills
  div


    div
      aside
        span.
          Languages
      div
        ul.icons
          li
            span.fa.fa-fw.fa-caret-right
            span.highlight English
            span  (Native)
          li
            span.fa.fa-fw.fa-caret-right
            span.highlight German
            span  (Fluent)

    hr

    div
      aside
        span
          span Skills:
          br
          span Advanced
      div
        ul.icons
          li
            span.fa.fa-fw.fa-caret-right
            span.highlight Web
          li
            span.fa.fa-fw
            span node.js, AngularJS, HTML5, Responsive Design, .NET (Visual Basic, C# &amp; Mono), jQuery, Sass, Grunt


    div
      aside
        span
          span Skills:
          br
          span Proficient
      div
        ul.icons
          li
            span.fa.fa-fw.fa-caret-right
            span.highlight Web &amp; Desktop
          li
            span.fa.fa-fw
            span Git, OO JS, LAMP Development (OO PHP), Ruby on Rails, Templating (Jade, Haml), Accessibility
          li
            span.fa.fa-fw.fa-caret-right
            span.highlight Other
          li
            span.fa.fa-fw
            span C (Nintendo DS &amp; PowerPC), UNIX SysOps, Graphic Design


    div
      aside
        span
          span Skills:
          br
          span Learning
      div
        ul.icons
          li
            span.fa.fa-fw.fa-caret-right
            span.highlight Web
          li
            span.fa.fa-fw
            span Testing (TDD), Typography


    hr


    div
      aside
        span.
          Societies
      div
        ul.icons
          li
            span.fa.fa-fw.fa-caret-right
            span.highlight President of The Computer Science Society
            span , 2014 &mdash; present.
          li
            span.fa.fa-fw
            span Previously Webmaster and Social Secretary, 2012 &mdash; 2014.
          li
            span.fa.fa-fw.fa-caret-right
            span.highlight Publicity Officer of the LGBTQ* Association
            span , 2013.
          li
            span.fa.fa-fw.fa-caret-right
            span Member of the 
            span.highlight Badminton Society
            span , 
            span.highlight Music Society
            span  and the 
            span.highlight L&uuml;denscheid-Brighouse Gesellschaft
            span  twin town society.





    div
      aside
        span.
          Fun
      div
        ul.icons
          li
            span.fa.fa-fw.fa-caret-right
            span Bell ringing, Grade 4 Piano and collecting &ldquo;I &hearts; (...)&rdquo; t-shirts. I exchange with Germany every year and I've exchanged with Poland independently &mdash; I love Europe.