section.no-break.fade
  header
    h2 References
  div
    div.no-break
      aside
        span.
          Academic &amp; Personal
      div
        ul.icons
          li
            span.fa.fa-fw.fa-user
            span
              span.highlight Prof. Geoff Coulson
              span  (2012 - 2014 Head of School, School of Computing and Communications)
          li
            span.fa.fa-fw
            span.phone +44 1524 510306
            span.fg-turquoise &nbsp;&nbsp;&bull;&nbsp;&nbsp;
            span g.coulson@lancaster.ac.uk
          li
            span.fa.fa-fw
            span Room C19, InfoLab21, Lancaster University, Lancaster, LA1 4WA
    div.no-break
      aside
        span.
          Professional
      div
        ul.icons
          li
            span.fa.fa-fw.fa-user
            span
              span.highlight Alvin Blewitt
              span  (Director, Next World Web Limited)
          li
            span.fa.fa-fw
            span.phone +44 1524 489948
            span.fg-turquoise &nbsp;&nbsp;&bull;&nbsp;&nbsp;
            span info@nextworldweb.co.uk
          li
            span.fa.fa-fw
            span The KBC, InfoLab21, Lancaster University, Lancaster, LA1 4WA