section.fade
  header
    h2 Professional Development
  div


    h2 Talks Given
    div
      aside
        span November 2012
      div
        ul.icons
          li
            span.fa.fa-fw.fa-microphone
            span Nintendo DS Homebrew
            span.fg-turquoise  The Computing Society
          li
            span.fa.fa-fw
            span &ldquo;From UNIX to ARM: Compiling C programs for Nintendo platforms&rdquo;
    div
      aside
        span January 2014
      div
        ul.icons
          li
            span.fa.fa-fw.fa-microphone
            span Deep Data Penentration: Facebook Data Analysis
            span.fg-turquoise  The Computing Society
          li
            span.fa.fa-fw
            span &ldquo;What does your Facebook say about you? I will show how we can leverage the power of Computer Science to learn about our own everyday on-line interactions.&rdquo;


    hr


    h2 Publications
    div
      aside
        span.
          ??
      div
        ul.icons
          li
            span.fa.fa-fw.fa-file-text-o
            span ???
    div
      aside
        span.
          ???
      div
        ul.icons
          li
            span.fa.fa-fw.fa-file-text-o
            span ???


    hr


    h2 Conferences, Hackathons &amp; Networking
    div
      aside
        span.
          ???
      div
        ul.icons
          li
            span.fa.fa-fw.fa-comments-o
            span ???
    div
      aside
        span.
          ???
      div
        ul.icons
          li
            span.fa.fa-fw.fa-comments-o
            span ???