div.fade
  h1 James Garner
  h2.subtitle
    span.fa.fa-terminal
    |  Full Stack Developer
    span.fg-turquoise &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    span.fa.fa-paint-brush
    |  Designer
    span.fg-turquoise &nbsp;&nbsp;&bull;&nbsp;&nbsp;
    span.fa.fa-coffee
    |  Tea Drinker