section.unheadered.fade
  div
    div
      aside
        span.
          Website
      div
        ul.icons
          li
            span.fa.fa-fw.fa-globe
            span jamesgarner.me
            span.fg-turquoise &nbsp;&nbsp;&bull;&nbsp;&nbsp;
            span jada.io
    div
      aside
        span.
          E-mail
      div
        ul.icons
          li
            span.fa.fa-fw.fa-envelope-o
            |james@jadaradix.com
          li
            span.fa.fa-fw.fa-envelope-o
            |j.garner@lancaster.ac.uk
    div
      aside
        span.
          &lsquo;Phone
      div
        ul.icons
          li
            span.fa.fa-fw.fa-phone
            span.phone +44 79035 76776
          li
            span.fa.fa-fw.fa-phone
            span.phone +44 113 314 1024
    div
      aside
        span.
          Address
      div
        ul.icons
          li
            span.fa.fa-fw.fa-home
            |4 Slaidburn Drive
          li
            span.fa.fa-fw
            |Hala, Lancaster
          li
            span.fa.fa-fw
            |LA1 4QX, Lancashire, UK