section.fade
  header
    h2 Education
  div

    h2.important
      |Computer Science BSc (Hons)
    div
      aside
        span.
          Text 1
      div
        ul.icons
          li
            span.fa.fa-fw.fa-user
            span Text 2
          li
            span.fa.fa-fw
            span Text 3

    h2
      |Computer Science 1
      sup st
      |  Year
    div
      aside
        span.
          Text 1
      div
        ul.icons
          li
            span.fa.fa-fw.fa-user
            span Text 2
          li
            span.fa.fa-fw
            span Text 3

    h2
      |German Studies 1
      sup st
      |  Year
    div
      aside
        span.
          Text 1
      div
        ul.icons
          li
            span.fa.fa-fw.fa-user
            span Text 2
          li
            span.fa.fa-fw
            span Text 3