section.fade
  header
    h2 Professional Development
  div


    h2 Talks Given
    div
      aside
        span January 2014
      div
        ul.icons
          li
            span.fa.fa-fw.fa-microphone
            span.highlight Deep Data Penetration: Facebook Data Analysis
          li
            span For The Computing Society: &ldquo;What does your Facebook say about you? I will show how we can leverage the power of Computer Science to learn about our own everyday on-line interactions.&rdquo;
    div
      aside
        span November 2012
      div
        ul.icons
          li
            span.fa.fa-fw.fa-microphone
            span.highlight Nintendo DS Homebrew
          li
            span For The Computing Society: &ldquo;From UNIX to ARM: Compiling C programs for Nintendo platforms&rdquo;


    hr


    h2 Conferences, Hackathons &amp; Networking
    div
      aside
        span.
          October 2014
      div
        ul.icons
          li
            span.fa.fa-fw.fa-comments-o
            span.highlight Hey girl, let's talk about UX and Gender
          li
            span Skype, London. &ldquo;We've been having a think about what it means to create inclusive designs and work in a diverse team. How is gender identity important (or not) to modern users and what is it anyway?&rdquo;.
    div
      aside
        span.
          July 2014
      div
        ul.icons
          li
            span.fa.fa-fw.fa-keyboard-o
            span.highlight Greater Manchester Data Dive
          li
            span Manchester; Team of ~8. Drilled into a dataset of ~700,000 Tweets from the Greater Manchester and Lancashire region to look for insights that could aid the local community via statistical analysis and heatmapping.
    div
      aside
        span.
          April 2014
      div
        ul.icons
          li
            span.fa.fa-fw.fa-comments-o
            span.highlight InfoLab21 Showcase
          li
            span Lancaster. Presented my research poster &ldquo;Geosocial Networking Security and Facebook Semantic Analysis&rdquo; alongside PhD students. My research looked at the reverse engineering of Grindr (&lsquo;Stalkr&rsquo;) to automatically find users' locations. I also wrote a framework for analysing Facebook personal archives (to create a common private social graph).
    div
      aside
        span.
          March 2014
      div
        ul.icons
          li
            span.fa.fa-fw.fa-keyboard-o
            span.highlight Hack Smart Streets 2014
          li
            span Lancaster; Team of 4 and &lsquo;Most Commercially Viable&rsquo; Prize winners (&pound;1000). Developed an API for public bodies to detect decaying street furniture from crowdsourced imagery in .NET using ffmpeg and a home grown Computer Vision algorithm.
    div
      aside
        span.
          August 2013
      div
        ul.icons
          li
            span.fa.fa-fw.fa-keyboard-o
            span.highlight LeedsHack 2013
          li
            span Leeds. Team of 3 and First Prize winners (4 Apple TVs). Developed HTML5 mobile augmented reality game &lsquo;Pacman City&rsquo;.
    div
      aside
        span.
          July 2012
      div
        ul.icons
          li
            span.fa.fa-fw.fa-keyboard-o
            span.highlight LeedsHack 2012
          li
            span Leeds; Team of 3. Developed real-time Tower Defence game &lsquo;Maps Attax&rsquo; with the Google Maps API.
    //- hr
    //- hr
    //- hr
    //- 
    //- 
    //- h2 Publications
    //- div
    //-   aside
    //-     span.
    //-       ??
    //-   div
    //-     ul.icons
    //-       li
    //-         span.fa.fa-fw.fa-file-text-o
    //-         span ???