section.no-break.fade
  header
    h2 Employment History
  div
    div.no-break
      aside
        span.
          June 2014 - September 2014
      div
        ul.icons
          li
            span.fa.fa-fw.fa-building-o
            span.highlight DataCentred Ltd., MediaCityUK, Manchester
          li
            span Cloud Platform Intern on the DevOps team. I created a customer facing Support Tickets web application with Ruby on Rails and AngularJS which reflected the company's JIRA installation in real-time. I mastered source control and learnt to love agile development. I also represented DataCentred at the Greater Manchester Data Dive and was described as &ldquo;our awesome intern&rdquo;.
    div.no-break
      aside
        span.
          June 2013 - May 2014
      div
        ul.icons
          li
            span.fa.fa-fw.fa-building-o
            span.highlight NextWorldWeb Ltd., InfoLab21, Lancaster
          li
            span Summer intern at Next World Web before gaining private employment for 10 months. I stopped working at Next World Web so I could work full time at DataCentred.
          li
            span As an intern, I moved a large e-commerce website to Object Orientated PHP (CakePHP). In private employment I moved custom websites to CakePHP, WordPress &amp; CS-Cart frameworks and automated moving websites to WordPress.
    div.no-break
      aside
        span.
          2007 - Present
      div
        ul.icons
          li
            span.fa.fa-fw.fa-building-o
            span.highlight Invisionsoft / jadaradix design + systems
          li
            span I've developed the software &lsquo;DS Game Maker&rsquo; since 2007 &mdash; it's now open source. I sold over 1,500 serial codes and 350 physical &lsquo;Homebrew Kits&rsquo;. It was adopted at American summer camps and I sold site licenses to schools. This was a .NET and C project with an on-line community (I got fanmail).
          li
            span When I turned 17, HTML5 was emergent so I worked on a new project called &lsquo;Dark Flow&rsquo;, a cross platform/HTML5 game maker with 4 friends. The games ran on PC via .NET and the web/mobile devices via HTML5. It was also commercially successful; we sold to the education sector and ran game making workshops. I mastered customer service and  international laws &amp; customs through these projects. I've also done paid freelance work for clients including Astute Motoring, HiFi Design, Timberland Sheds and The Nail Spa.