section.fade
  header
    h2 Education
  div


    h2
      |Computer Science BSc (Hons)
      span.fg-turquoise  Upper 2
        sup nd
        |  Class (2:1) (Expected)
    div
      aside
        span.
          2012 &mdash; 2015 at
      div
        ul.icons
          li
            span.fa.fa-fw.fa-graduation-cap
            span Lancaster University, UK
    div
      aside
        span.
          Year 2 Studied
      div
        ul.icons
          li
            span.fa.fa-fw
            span ???
    div
      aside
        span.
          Year 1 Studied
      div
        ul.icons
          li
            span.fa.fa-fw
            span Operating Systems &amp; Concurrency; HCI &amp; Heuristics; Networking; Software Design; Professional Issues (Data Analysis, Legalities, Project Planning/Reporting); Functional Programming (Erlang/Python); Teamwork HTML5/Android development


    hr


    h2
      |Computer Science 1
      sup st
      |  Year
      span.fg-turquoise  1
        sup st
        |  Class (1)
    div
      aside
        span.
          2012 &mdash; 2013 at
      div
        ul.icons
          li
            span.fa.fa-fw.fa-graduation-cap
            span Lancaster University, UK
    div
      aside
        span.
          Studied
      div
        ul.icons
          li
            span.fa.fa-fw
            span Algorithms &amp; Efficiency; Databases; Digital Systems (Mathematics, Assembly, Compiling, Debugging)


    hr


    h2
      |German Studies (Advanced) 1
      sup st
      |  Year
      span.fg-turquoise  Upper 2
        sup nd
        |  Class (2:1)
    div
      aside
        span.
          2012 &mdash; 2013 at
      div
        ul.icons
          li
            span.fa.fa-fw.fa-graduation-cap
            span Lancaster University, UK
    div
      aside
        span.
          Studied
      div
        ul.icons
          li
            span.fa.fa-fw
            span German 20<sup>th</sup> Century Culture, History, and Society; Researched Paper 'Die Folgen der Ver&auml;nderung der deutschen Sprache'; Grammar; Discussion


    hr


    h2
      |&lsquo;A&rsquo; Levels
      span.fg-turquoise  AAB with Mathematics
    div
      aside
        span.
          2005 &mdash; 2012 at
      div
        ul.icons
          li
            span.fa.fa-fw.fa-graduation-cap
            span The Crossley Heath School, Halifax, UK
    div
      aside
        span.
          Studied
      div
        ul.icons
          li
            span.fa.fa-fw
            span
              |German 
              span.fg-turquoise (A)
              |, General Studies 
              span.fg-turquoise (A)
              |, Information and Communication Technology 
              span.fg-turquoise (B)
              |, Mathematics
              |, Product Design (AS Level)