section.unheadered.fade
  div

    p.
      I'm a professional and experienced developer from the United Kingdom. In my final year of Computer Science at Lancaster University I've thrived as both an individual and in teamwork. My skills and preferred technologies are constantly developing; they're demonstrated through my paid and volunteering work, and also through my own open source work which has shaped me greatly as a person and business asset. Look to the future, and don't look back!

    div
      aside
        span.
          Website
      div
        ul.icons
          li
            span.fa.fa-fw.fa-globe
            span jamesgarner.me
            span.fa.fa-fw.fa-globe
            span jada.io

    div
      aside
        span.
          E-mail
      div
        ul.icons
          li
            span.fa.fa-fw.fa-envelope-o
            span james@jadaradix.com
            span.fa.fa-fw.fa-envelope-o
            span j.garner@lancaster.ac.uk


    div
      aside
        span.
          &lsquo;Phone
      div
        ul.icons
          li
            span.fa.fa-fw.fa-mobile
            span.phone +44 79035 76776
            span.fa.fa-fw.fa-phone
            span.phone +44 113 314 1024


    div
      aside
        span.
          Find Me On
      div
        ul.icons
          li
            span.fa.fa-fw.fa-skype
            span jadaradix
            span.fa.fa-fw.fa-twitter
            span jadaradix


    div
      aside
        span.
          Address
      div
        ul.icons
          li
            span.fa.fa-fw.fa-home
            span 4 Slaidburn Drive
          li
            span.fa.fa-fw
            span Hala, Lancaster
          li
            span.fa.fa-fw
            span LA1 4QX, Lancashire, UK