h1 James Garner

section.unheadered
  div
    h2.
      Address
    p
      |3 Stratton Close
      br
      |Brighouse
      br
      |HD6 3SW
      br
      |West Yorkshire
    h2.
      &lsquo;Phone
    p.
      +44 113 314 1024
    p.
      +44 79035 76776
    h2.
      E-mail
    p.
      j.garner@lancaster.ac.uk
    p.
      james@jadaradix.com

section
  header
    h2 Education
  div
    p.
      Hello, World.

section
  header
    h2 Employment History
  div
    p.
      Hello, World.

section
  header
    h2 Personal Development &amp; Skills
  div
    p.
      Hello, World.

section
  header
    h2 References
  div
    p.
      Hello, World.