base(href="http://localhost:1024/", target="_blank")
title James Garner
meta(charset='UTF-8')
meta(name='robots', content='INDEX, FOLLOW')
meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css')
link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600')
link(rel='stylesheet', href='css/#{css}.scss.css')
script(src='js/jquery-2.1.0.min.js')
script(src='js/jquery.color-2.1.2.min.js')
script(src='js/async.js')
script(src='js/jada.js')