.tile
  .tile-content.bg-turquoise(data-show-div="open-source-content")
    h1 Open source
    p
      |Check out my open source projects on GitHub.
    p
      |You'll find 
      a(href="http://github.com/DSGameMaker") DS Game Maker
      |, which I've written and maintained for 7 years, 
      a(href="http://github.com/jadaradix/jadaSite") this site
      |, and my patches for projects like 
      a(href="http://github.com/datacentred/phpipam") PHPIPAM
      |.
  .hide#open-source-content
    p.
      Open source.