.tile.static.spread.spread-wide.hide#tile-main
  .tile-content.bg-navy
    .content
    .hide-link
      p
        a.big(href="")#hide-main-link
          span.fa.fa-arrow-circle-o-left &nbsp;
          |Hide