div(ng-show="groupHasTileRows('#{tileGroup}')")
  .tile-row(ng-repeat="tileRow in groupGetTileRows('#{tileGroup}')")
    .tile(ng-repeat="tile in tileRow", ng-attr-id="tile-{{tile.id}}", ng-class="getClasses(tile, 'tile')")
      .tile-content(ng-class="getClasses(tile, 'tileContent')").fade
        div(ng-click="setCurrentTile(tile)", href="{{tile.link || ''}}", ng-class="getClasses(tile, 'innerDiv')")
          ul.tags
            li(ng-repeat="tag in tile.tags")
              span.fa.fa-tag
              span {{tag}}
          h1(ng-show="tile.title") {{tile.title}}
          div(ng-bind-html="tile.contentPreview")
  - if (tileGroup == "main")
    .tile-row.spread-tall
      .tile(ng-click="debug()").spread.static
        .tile-content.bg-navy.fade
          div(ng-bind-html="currentTile.content")