.tile
  .tile-content.bg-orange(data-show-static="cv-content")
    h1 CV
    p.
      You can read my CV (my &ldquo;what, where and when&rdquo;) right here, or get a PDF.
  .hide#cv-content
    p.
      CV.