.tile.bg-blue.static.spread-wide
  h1 About Me
  p.
    Hello, World.
  p
    a.inner-link.big(href="x")#about-me-read-more-link
      |Read More &nbsp;
      span.fa.fa-arrow-circle-o-right
.hide#about-me-content
  p.
    I'm a programmer, and that's all you need to know.