.tile
  .tile-content.bg-yellow.fade
    a(data-show-static="ds-game-maker-content", href="")
      ul.tags
        li
          span.fa.fa-tag
          span Project
        li
          span.fa.fa-tag
          span Open source
      h1 DS Game Maker
      p.
        Hello, World.
  .hide#ds-game-maker-content
    p.
      DS Game Maker.