.tile
  .tile-content.bg-green
    a(data-show-static="phpipam-content", href="")
      ul.tags
        li
          span.fa.fa-tag
          span Project
      h1 PHPIPAM
      p.
        Hello, World.
  .hide#phpipam-content
    p.
      PHPIPAM.