.tile
  .tile-content.bg-purple
    a(data-show-static="dark-flow-content", href="")
      ul.tags
        li
          span.fa.fa-tag
          span Project
      h1 Dark Flow
      p.
        Hello, World.
  .hide#dark-flow-content
    p.
      Dark Flow.