.tile.link
  .tile-content.bg-orange
    h1 CV
    p.
      You can read my CV (my &ldquo;what, where and when&rdquo;) right here, or get a PDF.
  .hide#cv-content
    p.
      This is my CV. It's lame.
