.tile.me-text.bg-navy.static
  h1 James Garner
  p.subtitle
    |Developer
    span.fg-blue.
      &nbsp;&bull;&nbsp;
    |Designer
    span.fg-blue.
      &nbsp;&bull;&nbsp;
    |Tea Drinker
  p.icons
    a(href="https://twitter.com/jadaradix")
      span.fa.fa-twitter
    a(href="https://github.com/jadaradix")
      span.fa.fa-github
    a(href="skype:jadaradix?chat")
      span.fa.fa-skype
    a(href="mailto:james@jadaradix.com")
      span.fa.fa-envelope-o