.tile.static
  .tile-content.bg-turquoise.fade
    div
      h1 Projects
      p
        |Most of my work is open source on 
        a(href="http://github.com/jadaradix") GitHub
        |.
      p
        |You'll find 
        a(data-show-static="ds-game-maker-content", href="") DS Game Maker
        |, which I've written and maintained for 7 years, 
        a(data-show-static="this-site-content", href="") this site
        |, my patches for projects like 
        a(href="http://github.com/datacentred/phpipam") PHPIPAM
        |  and more.