.tile
  .tile-content.bg-green
    a(data-show-static="datacentred-content", href="")
      ul.tags
        li
          span.fa.fa-tag
          span Project
      h1 Manchester, AngularJS and Ruby on Rails
      p.
        My time at DataCentred.
  .hide#datacentred-content
    .message
      p
        span.fa.fa-info
          |x
        span
          |This is a revision of my original post on the DataCentred blog, 
          a(href="") An Angular Internship
          |.
    p.
      Hello, World.