.tile.static
  .tile-content.bg-light-gray.no-link-fade
  div
    h1 I'm sorry.
    p.
      I wanted to be the very best, like no one ever was. To find this page was my real test; to serve it was my cause. I have travelled accross the server, searching far and wide. Each request to understand, the power that's inside...
    p
      |But I failed. 
      a(href="", onclick="window.history.back(); return false;") Go Back?