.tile.spread
  .tile-content.bg-light-gray.fade
    a(data-show-static="this-site-content", href="")
      ul.tags
        li
          span.fa.fa-tag
          span Project
        li
          span.fa.fa-tag
          span Open source
      h1 This Site
      p.
        Hello, World.
  .hide#this-site-content
    p.
      This Site.