.tile.spread
  .tile-content.bg-light-gray(data-show-static="this-site-content")
    ul.tags
      li
        span.fa.fa-tag
        span Project
      li
        span.fa.fa-tag
        span Open source
    h1 This Site
    p.
      Hello, World.
  .hide#this-site-content
    p.
      This Site.