.tile.spread
  .tile-content.bg-light-gray.fade
    a(data-show-static="double-content", href="")
      ul.tags
        li
          span.fa.fa-tag
          span Tag 1
        li
          span.fa.fa-tag
          span Tag 2
      h1 Double
      p.
        Hello, World.
  .hide#double-content
    p.
      Double content.