section.unheadered.no-break.fade#details
  div


    div
      div
        ul.icons
          li
            a.no-split(href="mailto:j@jada.io")
              span.fa.fa-fw.fa-envelope-o
              span j@jada.io
            a.no-split(href="tel:+441133141024")
              span.fa.fa-fw.fa-phone
              span.phone +44 113 314 1024
            a.no-split(href="http://jada.io")
              span.fa.fa-fw.fa-globe
              span jada.io


    div
      div
        ul.icons
          li
            a.no-split(href="https://twitter.com/jadaradix")
              span.fa.fa-fw.fa-twitter
              span @jadaradix
            a.no-split(href="https://github.com/jadaradix")
              span.fa.fa-fw.fa-github-alt
              span jadaradix
            a.no-split(href="skype:jadaradix?chat")
              span.fa.fa-fw.fa-skype
              span jadaradix


    div
      div
        ul.icons
          li
            span.no-split
              span.fa.fa-fw.fa-home
              span 5-6 Rufford Street, N1 0AP, London, UK