section.unheadered.no-break#details
  div


    div
      div
        ul.icons
          li
            span.look-at-me.name.
              James Garner
          li.go-right
            a.no-split(href="mailto:j@jada.io")
              span.fa.fa-fw.fa-envelope-o
              span j@jada.io
            a.no-split(href="https://github.com/jadaradix")
              span.fa.fa-fw.fa-github-alt
              span jadaradix
            span.no-split
              span.fa.fa-fw.fa-home
              span The World/London