section.fade.no-break
  header
    h2 Education
  div

    div.no-break
      aside
        span.
          2012 &mdash; 2015
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-graduation-cap
              span.highlight 2:1 Computer Science BSc (Hons), University of Lancaster, UK
          li
            span.align-justify Distributed Systems; Languages and Compilation; Artificial Intelligence; Advanced Internet &amp; Mobile Applications; Media Coding &amp; Processing; Operating Systems &amp; Concurrency; Functional Programming (Erlang/Python); Team Android development; Digital Systems (Pure Mathematics, Assembly, Compiling, Debugging).
    div.no-break
      aside
        span.
          2012
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-graduation-cap
              span.highlight German Studies, University of Lancaster, UK
          li
            span.align-justify
              |German 20<sup>th</sup> Century Culture, History, and Society; Researched Paper &lsquo;Die Folgen der Ver&auml;nderung der deutschen Sprache&rsquo; Grammar; Discussion.