section.no-break
  header
    h2 Work History
  div


    div.no-break
      aside
        span.look-at-me Engineer
        span February 2017 - Present
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Beamery Ltd, London
        ul
          li
            span Full stack engineering for Beamery, the world's most advanced sourcing and recruitment marketing platform, empowering companies to treat candidates like customers and help talent acquisition teams to source faster and more effectively.
          li
            span Frontend: Advanced filtering components in AngularJS.
          li
            span Testing/QA: Established and owning end-to-end testing practice and framework with Selenium, PhantomJS and Cucumber. Boosting test coverage of public API and directly handling API consumer queries and issues.
          li
            span Open Source: Took ownership of Node.js Apache Tika bridge library (6 contributors/93 stars) from The International Consortium of Investigative Journalists.
          li
            span Technical Debt: Dependency upgrades including hapi, test frameworks and shift from Node.js 4 to 7. Enforcing coding standards through Beamery's own ESLint rules with local and serverside hooks. Significant player in the road to CI and CD.
          li
            span Running the first company-wide knowledge sharing session on Natural Language Processing (theory, technology and recruitment applications).


    div.no-break
      aside
        span.look-at-me Engineer
        span March 2016 - Present
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Sony Interactive Entertainment Europe (PlayStation/SIE R&amp;D West), London
        ul
          li
            span Full stack engineering for PlayStation&rsquo;s best-in-class developer support platform.
          li
            span Frontend: Thought leader and individual responsibility for application&rsquo;s long term frontend strategy &mdash; build process, dependency management, migration of tightly coupled frontend/backend code to APIs and AngularJS client, universal JavaScript and ES2015 (ES6) transpiling.
          li
            span Backend: JavaScript work on greenfield AWS event-driven API solution with Serverless, Elasticsearch and SNS. TDD with Mocha, Chai, SuperTest and Sinon.JS. Consistent feature delivery with PHP, Agavi and Behat.
          li
            span Ops: Infrastructure-as-code Jenkins rehosting (CloudFormation), building a new source-controlled and self-serviced development environment with Chef. Significant Docker experience.
          li
            span Planning and running highly regarded workshop and team breakout session for 20 US/UK engineers on component-driven design and thinking in the frontend space.
          li
            span Lead agile planning and sprint reviews, presenting to stakeholders in Japan and America.
          li
            span Successful &ldquo;innovation time&rdquo; node.js visualisation project with GitHub/Rally APIs.


    div.no-break
      aside
        span.look-at-me Data Scientist
        span November 2014 - October 2015
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Relative Insight Ltd, Lancaster
        ul
          li
            span Developed Python web scrapers for high profile brands including Oxford University and Smirnoff. Published a language normalisation algorithm for forums.


    div.no-break
      aside
        span.look-at-me Intern
        span June 2014 - September 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight DataCentred Ltd, MediaCityUK, Manchester
        ul
          li
            span Delivered as a pair a customer facing support app in Ruby on Rails and AngularJS within 3 months, reflecting internal JIRA tickets in real-time. Still in production.


    div.no-break
      aside
        span.look-at-me Developer
        span June 2013 - May 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight NextWorldWeb Ltd, InfoLab21, Lancaster
        ul
          li
            span Moved large legacy ecommerce systems to CakePHP, CS-Cart and WordPress. Automated WordPress theme creation from any site.