section
  header
    h2 Work History
  div


    div.no-break
      aside
        span.look-at-me Engineer
        span Feb 17 - Now
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Beamery Ltd, London
        ul
          li
            span Full stack engineering for Beamery, the world&rsquo;s most advanced sourcing and recruitment marketing platform, empowering companies to treat candidates like customers.
          li
            span Pair-leading and co-developing candidate-facing &ldquo;Beamery Pages&rdquo; talent marketing product which has already seen its first hire.
          li
            span Significant work on hiring analytics (tracking the candidate journey through first visit to successful hire) and GDPR/equal employment opportunity compliance.
          li
            span Direct communication with customers including Facebook, Balfour Beatty, Grab, Greenhouse and Roivant.
          li
            span Running company-wide knowledge sharing sessions on NLP and web technologies.
          li
            span Mentoring Founders &amp; Coders interns through a full agile project.
          li
            span Developed advanced UI for Elasticsearch filtering with Angular component architecture and real time app notifications through socket.io, RabbitMQ and Redis. Took ownership of open source Node.js Apache Tika bridge library from The International Consortium of Investigative Journalists. Established end-to-end testing practices with Selenium and Cucumber.


    div.no-break
      aside
        span.look-at-me Engineer
        span Mar 16 - Feb 17
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Sony Interactive Entertainment Europe (PlayStation/SIE R&amp;D West), London
        ul
          li
            span Full stack engineering for PlayStation&rsquo;s best-in-class developer support platform.
          li
            span Thought leader and individual responsibility for application’s long term frontend strategy: build process, dependency management, migration of tightly coupled frontend/backend code to APIs and Angular clients, universal JavaScript and ES2015 transpiling.
          li
            span Greenfield AWS event-driven architecture API solution architecture with Serverless, CloudFormation, Elasticsearch and SNS. Test-driven development with Mocha, Chai and SuperTest.
          li
            span Leading agile planning and sprint reviews, presenting to stakeholders in Japan and America.
          li
            span Successful long term &ldquo;innovation time&rdquo; visualisation project with Node.js, GitHub/Rally APIs, D3 and Grunt/Browserify/Babel.
          li
            span DevOps support: infrastructure-as-code Jenkins rehosting, building a new source-controlled and self-serviced development environment with Chef.


    div.no-break
      aside
        span.look-at-me Developer
        span Jan 15 - Mar 16
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight (NDA), London
        ul
          li
            span Full stack JavaScript and PHP development visualising complex data sets in D3 and beyond for the world&rsquo;s leading agency groups.
          li
            span Co-lead introduction of code reviews, git flow and regular knowledge sharing presentations.


    div.no-break
      aside
        span.look-at-me Data Scientist
        span Nov 14 - Oct 15
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Relative Insight Ltd, Lancaster
        ul
          li
            span Developed Python web scrapers for high profile brands including Oxford University and Smirnoff. Published language normalisation algorithms for forums.


    div.no-break
      aside
        span.look-at-me Intern
        span Jun 14 - Sep 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight DataCentred Ltd, MediaCityUK, Manchester
        ul
          li
            span Co-delivered a customer facing support app in Ruby on Rails and AngularJS within 3 months, reflecting internal JIRA tickets in real-time (still in production). Implemented LDAP support in popular open source project phpipam.


    div.no-break
      aside
        span.look-at-me Developer
        span Jun 13 - May 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight NextWorldWeb Ltd, InfoLab21, Lancaster
        ul
          li
            span Moved large legacy ecommerce systems to CakePHP, CS-Cart and WordPress. Automated WordPress theme creation from any site.