section.no-break.fade
  header
    h2 Employment History
  div
    div.no-break
      aside
        span.
          March 2016 - Present
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Sony (PlayStation Research &amp; Development), London
          li
            span.align-justify Engineer. Architecting and delivering a greenfield, test-driven serverless API solution on AWS for multiple stakeholders. Decoupling frontend and backend code by forming API strategy and introducing AngularJS. Designing and building a new source-controlled and self-serviced development environment with Chef. Full DevOps duties and scrum master responsibility. Presenting to stakeholders in Japan and America. Working between London and California.
    div.no-break
      aside
        span.
          January 2015 - March 2016
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight The Client Relationship Consultancy LLP, London
          li
            span.align-justify Developer. Full stack JavaScript and PHP work visualising complex data sets in D3 and beyond for the world&rsquo;s leading agency groups. Lead development of automated dossier generation with human-like language on agency performance. Decommissioned legacy hardware with wktmltopdf and upgraded internal systems including Hatjitsu (node.js app for agile estimations). Co-lead introduction of code reviews, git workflow and bi-weekly knowledge sharing presentations.
    div.no-break
      aside
        span.
          November 2014 - October 2015
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Relative Insight Ltd, Lancaster
          li
            span.align-justify Data Scientist. Developed custom Python web scrapers for high profile brands including Oxford University and Smirnoff. Developed and published language normalisation algorithms.
    div.no-break
      aside
        span.
          June 2014 - September 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight DataCentred Ltd, MediaCityUK, Manchester
          li
            span.align-justify Cloud Applications Engineer. Developed and delivered a customer facing Ruby on Rails and AngularJS web app in 3 months which reflected JIRA in real-time &mdash; still in production. Represented DataCentred at the Greater Manchester Data Dive and described as &ldquo;our awesome intern&rdquo;.
    div.no-break
      aside
        span.
          June 2013 - May 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight NextWorldWeb Ltd, InfoLab21, Lancaster
          li
            span.align-justify Developer. Moved legacy systems to CakePHP, WordPress &amp; CS-Cart. Automated WordPress theme creation from any site. Successful internship and continuous employment.
    div.no-break
      aside
        span.
          January 2007 - January 2012
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight jadaradix design + systems (Invisionsoft), Worldwide
          li
            span.align-justify Full stack freelance consultancy for national clients.
          li
            span.align-justify Developed &lsquo;DS Game Maker&rsquo; IDE since 2007 in .NET and C (now open source). By age 17 I&rsquo;d sold over 1,500 serial codes and 350 physical &lsquo;Homebrew Kits&rsquo;. It was adopted at American summer camps and site licenses were sold to schools worldwide.
          li
            span.align-justify Engineered the complete cross platform &amp; HTML5 game maker &lsquo;Dark Flow&rsquo; (lead developer) on a team of 5. Games ran on OS X/Windows/Linux via a .NET (Mono) bytecode runner and the web/mobile devices via native JavaScript generation. Leveraged live customer behaviour data to drive sales.