section.fade.no-break
  header
    h2 Experience &amp; Skills
  div


    div.no-break
      aside
        span Skills: Advanced
        br
        span
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star-half-o
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-caret-right
              span.highlight node.js and Universal JavaScript, HTML5, frontend tooling (Sass/Grunt/Browserify&hellip;)
          li
            span
              span.fa.fa-fw
              span.align-justify RESTful API development, open source project management, web scraping


    div.no-break
      aside
        span Skills: Proficient
        br
        span
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star-half-o
          span.fa.fa-star-o
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight AngularJS, microservice development, data visualisation, OO PHP, C (ARM/Nintendo)
          li
            span
              span.fa.fa-fw
              span.align-justify .NET (VB/C#), Python, Ruby on Rails


    hr


    div.no-break
      aside
        span.
          Leadership
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight The Computer Science Society 
              span President (2014 &mdash; 2015)
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight L&uuml;denscheid-Brighouse 
              span Twin Town Society Host (2012 &mdash; present)
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight InterTech LGBT+ Diversity Forum 
              span Organiser and &lsquo;DO&rsquo; Hacker (2014 &mdash; present)


    div.no-break
      aside
        span.
          Languages
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-globe
              span.highlight English
              span  (Native)
          li
            span.align-justify
              span.fa.fa-fw.fa-globe
              span.highlight German
              span  (Fluent)


    div.no-break
      aside
        span.
          For Fun
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span Bell ringer, pianist, badminton player and collector of &ldquo;I &hearts; (...)&rdquo; t-shirts. I exchange with Germany every year and I visited 5 countries in 2015. I love Europe!