section.fade.no-break
  header
    h2 Technical Skills &amp; Leadership
  div


    div.no-break
      aside
        span Skills: Advanced
        br
        span
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star-half-o
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-caret-right
              span.highlight node.js, universal JavaScript, AngularJS, RESTful API strategy, HTML5
          li
            span
              span.fa.fa-fw
              span.align-justify Modern frontend workflow (Sass, Browserify&hellip;), open source project management


    div.no-break
      aside
        span Skills: Proficient
        br
        span
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star-half-o
          span.fa.fa-star-o
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight Data visualisation, D3, Serverless architecture (AWS), C (Nintendo DS, Wii)
          li
            span
              span.fa.fa-fw
              span.align-justify .NET (C#, VB), Python, test-driven configuration management


    hr


    div.no-break
      aside
        span.
          Leadership
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight The Computer Science Society 
              span President (2014 &mdash; 2015)
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight InterTech LGBT+ Diversity Forum 
              span Organiser and &lsquo;DO&rsquo; Hacker (2014 &mdash; present)
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight L&uuml;denscheid-Brighouse 
              span German Twin Town Society Host (2012 &mdash; present)

    div.no-break
      aside
        span.
          Languages
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-globe
              span.highlight English
              span  (Native)
          li
            span.align-justify
              span.fa.fa-fw.fa-globe
              span.highlight German
              span  (Fluent)