section.no-break
  header
    h2 Leadership &amp; Technical Skills
  div


    div.no-break
      aside
        span.look-at-me.
          Leadership
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-caret-right
              span.highlight The Computer Science Society 
              span President (2014 &mdash; 2015)
          li
            span
              span.fa.fa-fw.fa-caret-right
              span.highlight InterTech LGBT+ Diversity Forum 
              span Organiser (2014 &mdash; present)
          //- li
          //-   span
          //-     span.fa.fa-fw.fa-caret-right
          //-     span.highlight L&uuml;denscheid-Brighouse 
          //-     span German Twin Town Society Host (2012 &mdash; present)


    hr


    div.no-break
      aside
        span
          span Skills: 
          span.look-at-me Advanced
        span.stars
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star-half-o
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-caret-right
              span.highlight node.js, universal JavaScript, ES2015 (ES6), AngularJS, RESTful API strategy, HTML5
          li
            span
              span.fa.fa-fw
              span Frontend workflow (Sass, Grunt/Browserify/Babel&hellip;), open source project management


    div.no-break

      aside
        span
          span Skills: 
          span.look-at-me Proficient
        span.stars
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star-half-o
          span.fa.fa-star-o
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-caret-right
              span.highlight TypeScript, three.js (WebGL/VR), D3, Data visualisation, C (Nintendo DS/Wii)


    hr



    div.no-break
      aside
        span.look-at-me.
          Languages
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-globe
              span.highlight English
              span  (Native)
            span
              span.fa.fa-fw.fa-globe
              span.highlight German
              span  (Fluent)