div.no-break.fade
  h1 James Garner
  //- h2.subtitle
  //-   span.fade
  //-     span.fa.fa-align-justify
  //-     span Full Stack node.js Dev
  //-   span.fade
  //-     span.fa.fa-cloud-upload
  //-     span Cloud Architect
  //-   span.fade
  //-     span.fa.fa-pie-chart
  //-     span NLP Analyst