section.no-break
  header
    h2 Professional Development
  div


    h2 Projects
    div.no-break
      aside
        span.look-at-me Dark Flow
        span 2011-2012
      div
        ul.icons
          li
            span Lead developer of true cross platform game maker in a team of 5. Complete &ldquo;Aero&rdquo; UI for OS X/Windows/Linux via Mono with game support for all via a .NET bytecode runner (obfuscated executable generation). Native HTML5 and JavaScript generation for browsers and mobile.
    div.no-break
      aside
        span.look-at-me DS Game Maker
        span 2007-2011
      div
        ul.icons
          li
            span Famous Nintendo DS homebrew IDE written in .NET and C. By age 17 sold over 1,500 serial codes and 350 physical &lsquo;Homebrew Kits&rsquo;. Adopted at American summer camps and site licenses sold worldwide. International logistics work with Hong Kong and support in German and Dutch.


    h2 Talks
    div.no-break
      aside
        span.look-at-me London
        span November 2015
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight One Vision: Universal JavaScript
          li
            span Grunt build pipelines. Live demo of writing a PHP to JavaScript transition layer in ES2015 (ES6).
    div.no-break
      aside
        span.look-at-me University of Dundee
        span November 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight Nintendo DS Homebrew, 2014 Edition
          li
            span DunDDD conference. &ldquo;Adventures in the retro Homebrew Scene&rdquo; and live demo of writing Nintendo DS homebrew.
    div.no-break
      aside
        span.look-at-me University of Lancaster
        span January 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight Facebook Data Analysis
          li
            span &ldquo;What does Facebook say about you? I will show how we can leverage Computer Science to learn about our own everyday on-line interactions.&rdquo; .NET NLP framework for analysing Facebook chat logs to create a private social graph.
    //- div.no-break
    //-   aside
    //-     span.look-at-me Lancaster
    //-     span November 2012
    //-   div
    //-     ul.icons
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-microphone
    //-           span.highlight From UNIX to ARM: Make your own Nintendo DS Homebrew
    //-       li
    //-         span &ldquo;Compiling C programs for Nintendo platforms&rdquo;

    h2 Conferences &amp; Hackathons
    div.no-break
      aside
        span September 2016
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Capco Hackathon with Monzo and Loqr
          li
            span First Prize. Clustering spend data from Monzo&rsquo;s API to create financial personality profiles delivered by RESTful API (node.js/restify). Tinder-like profile matching client (AngularJS, ES2015 (ES6)). Deployed to DigitalOcean within ~5 hours&rsquo; keyboard time. Team of 3.
    div.no-break
      aside
        span February 2016
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight PHP UK Hackathon
          li
            span Second Prize. Real time websocket powered Twitter sentiment analysis &ldquo;battle between two topics&rdquo; with MonkeyLearn, Pusher, AngularJS and HTML5 canvas tag clouds.
    div.no-break
      aside
        span November 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Global Startup Weekend 2014
          li
            span First Prize. Developed a one line JavaScript plug-in for reputation based comments, quantifying personality to eliminate on-line trolls. Team of 4.
    div.no-break
      aside
        span July 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Greater Manchester Data Dive
          li
            span Statistical analysis and heatmapping of ~700,000 Tweets from the Greater Manchester region to find ways to strengthen the local community. Team of ~8.
    div.no-break
      aside
        span April 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-comments-o
              span.highlight InfoLab21 Showcase (University of Lancaster)
          li
            span Presented personal research piece &ldquo;Geosocial Networking Security&rdquo; alongside PhD students, looking at reverse engineering of Grindr to automatically find user locations.
    div.no-break
      aside
        span March 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Hack Smart Streets 2014 (University of Lancaster)
          li
            span &lsquo;Most Commercially Viable&rsquo; Prize. Developed an API for public bodies to detect decaying street furniture from crowdsourced imagery using ffmpeg and .NET image analysis. Team of 4.
    div.no-break
      aside
        span More...
      div
        ul.icons
          li
            span LeedsHack 2013: First Prize. Mobile AR game &lsquo;Pacman City&rsquo; on Google Maps. Team of 3.
          li
            span LeedsHack 2012: Real-time multi-player Tower Defence on Google Maps. Team of 3.