section.no-break
  header
    h2 Commercial Projects
  div


    div.no-break
      aside
        span.look-at-me Delta React Ltd
        span February 2016 - Present
      div
        ul
          li
            span Founder of Epsilon Data offshoot &ldquo;Forever&rdquo;: &ldquo;a simple and proven system to strengthen client relationships and shape long term strategy by asking a single question&rdquo;.
          li
            span End-to-end solution built on existing insight platform enhanced with Twilio and SendGrid integrations, personally trained &ldquo;Natural Language to Relationship Health&rdquo; algorithms on top of Apache OpenNLP and MonkeyLearn.


    hr


    div.no-break
      aside
        span.look-at-me Epsilon Data Ltd
        span January 2015 - Present
      div
        ul
          li
            span Technical co-founder of profit making startup in the data science and automated marketing spaces.
          li
            span Lead generation by finding Twitter conversations and replying intelligently through brands&rsquo; Twitter handles. Intelligent test-driven strategy to avoid spambot-like behaviour.
          li
            span One-to-one client mentoring with the UK&rsquo;s leading ethical tourism charity.
          li
            span Responsible for engineering microservice-oriented, node.js API-first and strictly RESTful insight platform. Single step deployments to DigitalOcean with 0 downtime through nginx and CloudFlare.
          li
            span Failsafe API integrations with Twitter, CloudFlare, Mapbox, GeoNames and Genderize.io.
          li
            span 100% self-service and responsive &ldquo;Client Area&rdquo; written from line 0 with AngularJS consuming insight platform APIs.
          li
            span 100% self-service attractive report generation with impress.js, wkhtmltopdf and Chartist. 2-year old codebase transitioned to modern babel and node-sass build pipeline.


    hr


    div.no-break
      aside
        span.look-at-me Dark Flow
        span 2011-2012
      div
        ul
          li
            span Lead developer of true cross platform game maker in a team of 5.
          li
            span OS X/Windows/Linux game support through Mono bytecode runner. Browser and mobile game support through native HTML5 and JavaScript generation.
          li
            span Also responsible for LAMP work on support portal and accounts system, hosting provider partnership for automated game uploads and sales insight.


    hr


    div.no-break
      aside
        span.look-at-me DS Game Maker
        span 2007-2011
      div
        ul
          li
            span Sole developer of famous Nintendo DS homebrew IDE written in .NET and C.
          li
            span Sold over 1,500 serial codes and 350 physical &lsquo;Homebrew Kits&rsquo; by age 17.
          li
            span Adopted at American summer camps and site licenses sold worldwide. International logistics work with Hong Kong and support in German and Dutch.