section
  header
    h2 Commercial Ventures
  div


    div.no-break
      aside
        span.look-at-me Euphoric Adventures
        span Oct 2017 - Now
      div
        ul
          li
            span
              |[
              a.link(href="https://euphoricadventur.es") https://euphoricadventur.es
              |] 
            span Technical co-founder of Euphoric Adventures, &ldquo;Smart Contract streaming technology for the world&rsquo;s highest quality music&rdquo;.


    hr


    div.no-break
      aside
        span.look-at-me Forever
        span Mar 2016 - Oct 2017
      div
        ul
          li
            span Founder of Epsilon Data Ltd offshoot &ldquo;Forever&rdquo; (Delta React Ltd), &ldquo;a simple and proven system to boost client engagement and shape long term strategy in a single step&rdquo;.
          li
            span End-to-end solution built on existing insight platform enhanced with Twilio (SMS) and SendGrid integrations, hand-trained &ldquo;Natural Language to Relationship Health&rdquo; algorithms on top of Apache OpenNLP and MonkeyLearn.


    div.no-break
      aside
        span.look-at-me Epsilon Data
        span Jan 2015 - Oct 2017
      div
        ul
          li
            span
              |[
              a.link(href="https://epsilondata.co.uk") https://epsilondata.co.uk
              |] 
            span Technical co-founder of profitable startup Epsilon Data (Variable Outcomes Ltd) in the automated marketing space.
          li
            span Lead generation by finding Twitter conversations and replying intelligently through brands&rsquo; Twitter handles. Test-driven strategy to avoid spambot-like behaviour.
          li
            span WYSIWYG landing pages with user tracking from automated tweets through to final website via client-side SDK.
          li
            span &ldquo;Deep Profiles&rdquo; technology by automatically associating user profiles between LinkedIn, Twitter and Facebook for demographic clustering. PhantomJS crawlers running in parallel.
          li
            span One-to-one client mentoring with the UK&rsquo;s leading ethical tourism charity.
          li
            span Built API-first strictly RESTful, microservice-based Node.js insight platform with single step/0 downtime DigitalOcean deployments through CloudFlare API integration.
          li
            span Failsafe API integrations with Twitter, Google Images, Mapbox, GeoNames and Genderize.io.
          li
            span 100% self-service and responsive &ldquo;Client Portal&rdquo; written from scratch with AngularJS consuming insight platform APIs.
          li
            span 100% self-service attractive report generation with impress.js, wkhtmltopdf and Chartist. 2-year old codebase transitioned to modern Browserify, Babel and Sass build pipeline.


    hr


    div.no-break
      aside
        span.look-at-me Dark Flow
        span 2011-2012
      div
        ul
          li
            span
              |[
              a.link(href="https://youtube.com/watch?v=yY3QpVo25lw") https://youtube.com/watch?v=yY3QpVo25lw
              |] 
            span Lead developer of true cross platform game maker in a team of 5.
          li
            span Implemented Mac/Windows/Linux game support through Mono/.NET bytecode runner, browser and mobile support through native JavaScript generation.
          li
            span Responsible for hosting provider partnerships and sales insights.


    div.no-break
      aside
        span.look-at-me DS Game Maker
        span 2007-2011
      div
        ul
          li
            span
              |[
              a.link(href="http://gamemakerblog.com/2010/09/22/ds-game-maker-5-ide-interface-looks-familiar/") http://gamemakerblog.com/2010/09/22/ds/
              |] 
            span Developer of famous Nintendo DS homebrew IDE written in .NET and C.
          li
            span Sold over 1,500 serial codes and 350 physical &lsquo;Homebrew Kits&rsquo; by age 17.
          li
            span Adopted at American summer camps and site licenses sold worldwide. International logistics work with Hong Kong and support in German and Dutch.