section
  header
    h2 Profile
  div


    //- div.no-break
    //-   aside
    //-     span
    //-       span.look-at-me Technical Skills
    //-   div
    //-     ul.icons
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-reorder
    //-           span.highlight Full Stack:
    //-           span  Node.js, universal JavaScript, ES2015 (ES6), RESTful API strategy, HTML5
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-cogs
    //-           span.highlight Frameworks:
    //-           span  AngularJS, three.js (VR), D3
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-wrench
    //-           span.highlight Tools &amp; More:
    //-           span  Browserify/Babel, Sass, Grunt, TypeScript, C (Nintendo DS)


    //- hr


    //- div.no-break
    //-   aside
    //-     span.look-at-me.
    //-       Open Source
    //-   div
    //-     ul.icons
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-github
    //-           span.highlight DefinitelyTyped
    //-           span  (TypeScript definitions for three.js)
    //-         span
    //-           span.fa.fa-fw.fa-github
    //-           span.highlight phpipam
    //-           span  (LDAP)
    //-         span
    //-           span.fa.fa-fw.fa-github
    //-           span.highlight Hatjitsu
    //-           span  (agile estimation statistics)


    div.no-break
      aside
        span.look-at-me.
          Leadership
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-briefcase
              span.highlight InterTech LGBT+ Diversity Forum: 
              span Organiser (London, 2014 &mdash; present)
          li
            span
              span.fa.fa-fw.fa-briefcase
              span.highlight The Computer Science Society: 
              span President (Lancaster, 2014 &mdash; 2015)


    div.no-break
      aside
        span.look-at-me.
          Languages
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-globe
              span.highlight English:
              span  Native
            span
              span.fa.fa-fw.fa-globe
              span.highlight German:
              span  Fluent
            span
              span.fa.fa-fw.fa-globe
              span.highlight Spanish:
              span  Learning