div.fade
  h2.subtitle.fade.
    Hi! Let's talk over e-mail.



section.unheadered.no-break.fade
  div.center

    div.message.no-break
      p
        span.fa.fa-fw.fa-thumbs-o-up
        span Thanks &mdash; I'll write back as soon as I can.

    div.no-break
      aside.form-padding-hack
        span.
          Your Name
      div
        input(type="text", id="yourName", autofocus)

    div.no-break.fixed-line-height
      aside.form-padding-hack
        span.
          Your E-mail
      div
        input(type="text", id="yourEmail")

    div.no-break.fixed-line-height
      aside.form-padding-hack
        span.
          What&rsquo;s Up?
      div
        textarea(id="yourMessage")

    div.no-break.fixed-line-height
      aside.form-padding-hack
      div
        input(type="submit", value="Hey Presto")