doctype html
html
  head
    base(href="http://jada.io:1024/")
    link(rel='stylesheet', href='css/index.scss.css')
    title James Garner
    meta(charset='UTF-8')
    meta(name='robots', content='INDEX, FOLLOW')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    #Wrapper.wrapper.pane
      include _details.jade
      include _projects.jade
      include _employment-history.jade
      include _education.jade
      include _professional-development.jade
      include _profile.jade
