- var js = ["angular-instance", "jada"]
- var css = ["jada"]
- var title = "James Garner"
- var tileGroup = null
doctype html
html
  head
    include ../_head.jade
  body(ng-app="jadaSite")
    #Wrapper.wrapper(ng-controller="tilesController")
      aside.tile-column
        - tileGroup = "side"
        include ../_tiles.jade
      main.tile-column
        - tileGroup = "main"
        include ../_tiles.jade
        div.fade
          h1.
            Blog
        - tileGroup = "blog"
        include ../_tiles.jade