- var js = ["jada"]
- var css = ["jada"]
- var serveErrorCode = 403
- var title = "403: Page Not Found - James Garner"
doctype html
html
  head
    include partials/_head.jade
  body
    #Wrapper
      aside.tile-column
        .tile-row
          include partials/_tile-me.jade
        .tile-row
          include partials/_tile-serve-error.jade
      main.tile-column
        .tile-row
          .tile.static
            .tile-content.bg-light-gray.fade
              div
                h1 Heyo. Not cool.
                p.
                  You wanted to be the very best, like no one ever was. To access this page was your real test; to serve it was your cause. You have travelled accross the server, searching far and wide. Each request to understand, the power that's inside...
                p
                  |But you failed. 
                  a(href="", onclick="window.history.back(); return false;") Go Back?
          include partials/_tile-blank.jade
        .tile-row
          include partials/_tile-blank.jade
          include partials/_tile-serve-error-image.jade