- var js = ["jada"]
- var css = ["jada"]
- var serveErrorCode = 404
- var title = "404: Page Not Found - James Garner"
doctype html
html
  head
    include partials/_head.jade
  body
    #Wrapper
      aside.tile-column
        .tile-row
          include partials/_tile-me.jade
        .tile-row
          include partials/_tile-serve-error.jade
      main.tile-column
        .tile-row
          .tile.static
            .tile-content.bg-light-gray.fade
              div
                h1 I'm sorry.
                p.
                  I wanted to be the very best, like no one ever was. To find this page was my real test; to serve it was my cause. I have travelled accross the server, searching far and wide. Each request to understand, the power that's inside...
                p
                  |But I failed. 
                  a(href="", onclick="window.history.back(); return false;") Go Back?
          include partials/_tile-blank.jade
        .tile-row
          include partials/_tile-blank.jade
          include partials/_tile-serve-error-image.jade