- var js = ["angular-instance", "jada", "fade"]
- var css = ["document"]
- var title = "Cover Letter - James Garner"
doctype html
html
  head
    include partials/_head.jade
  body
    #Wrapper
      div
        p.
          Lol.