- var js = ["angular-instance", "jada", "fade"]
- var css = ["document"]
- var title = "CV - James Garner"
doctype html
html
  head
    include partials/_head.jade
  body
    include partials/_bar.jade
    #Wrapper(class="wrapper")
      include partials/_cv-intro.jade
      include partials/_cv-employment-history.jade
      include partials/_cv-personal-development-skills.jade
      include partials/_cv-education.jade
      include partials/_cv-professional-development.jade
      include partials/_cv-references.jade
    include partials/_bar.jade