- var css = "jada"
- var title = "James Garner"
doctype html
html
  head
    include partials/_head.jade
  body
    #Wrapper
      aside.tile-column
        .tile-row
          include partials/_tile-me.jade
        .tile-row
          include partials/_tile-me-text.jade
      main.tile-column
        .tile-row
          include partials/_tile-projects.jade
          include partials/_tile-cv.jade
        .tile-row
          include partials/_tile-about-me.jade
        .tile-row
          include partials/_tile-project-ds-game-maker.jade
          include partials/_tile-project-dark-flow.jade
        .tile-row.spread-tall.hide#main
          include partials/_tile-main.jade
        .tile-row
          include partials/_tile-github.jade
          include partials/_tile-datacentred.jade
        .tile-row
          include partials/_tile-project-this-site.jade