doctype html
html
  head
    include partials/_head.jade
  body
    #Fader
    #Wrapper
      aside.tile-column
        .tile-row
          include partials/_tile-me.jade
        .tile-row
          include partials/_tile-me-text.jade
      main.tile-column
        .tile-row
          include partials/_tile-open-source.jade
          include partials/_tile-resume.jade
        .tile-row
          include partials/_tile-about-me.jade
        .tile-row.spread-tall
          include partials/_tile-main.jade
        .tile-row
          include partials/_tile-1.jade
          include partials/_tile-2.jade
      .clear-fix