doctype html
html
  head
    include partials/head.jade
  body
    #Fader
    #Wrapper
      aside.tile-column
        .tile-row
          .tile.me.static
        .tile-row
          .tile.me-text.bg-navy.static
            h1 James Garner
            p.subtitle
              |Developer
              span.fg-blue.
                &nbsp;&bull;&nbsp;
              |Designer
              span.fg-blue.
                &nbsp;&bull;&nbsp;
              |Tea Drinker
            p.icons
              a(href="https://twitter.com/jadaradix")
                span.fa.fa-twitter
              a(href="https://github.com/jadaradix")
                span.fa.fa-github
              a(href="skype:jadaradix?chat")
                span.fa.fa-skype
              a(href="mailto:james@jadaradix.com")
                span.fa.fa-envelope-o
      main.tile-column
        .tile-row
          .tile.bg-turquoise
            h1 Turquoise Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .tile.bg-green.link
            img.bg(src="https://scontent-a-lhr.xx.fbcdn.net/hphotos-xaf1/t1.0-9/395863_10150942598187242_1856691094_n.jpg")
            h1 Green Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .tile-row
          .tile.bg-blue.spread
            h1 Blue Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .tile-row
          .tile.bg-navy.link
            img.bg(src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/559075_10150926163682242_637469706_n.jpg?oh=e0cf72ebc3a042dfb96095e3ee0174e4&oe=54784E46&__gda__=1417027308_731b0b21f943386cc0b9ab5126d4c9e9")
            h1 Navy Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .tile.bg-yellow
            h1 Yellow Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .tile-row
          .tile.bg-orange
            h1 Orange Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .tile.bg-red.link
            img.bg(src="https://scontent-a-lhr.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/217880_10150942601437242_1776298394_n.jpg?oh=427c9500d054cf31d181b2d42a17633f&oe=547848EA")
            h1 Red Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .tile-row
         .tile.spread.bg-purple
            h1 Purple Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .tile-row
          .tile.bg-light-gray
            h1 Light Gray Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
          .tile.bg-gray.link
            img.bg(src="https://scontent-b-lhr.xx.fbcdn.net/hphotos-xfa1/t1.0-9/546709_10150942608592242_2113941848_n.jpg")
            h1 Gray Tile
            p.
              Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      .clear-fix