- var js = ["jada", "angular-instance"]
- var css = ["jada"]
- var title = "James Garner"
- var tileGroup = null
doctype html
html
  head
    include partials/_head.jade
  body(ng-app="jadaSite")
    #Wrapper(ng-controller="tilesController")
      aside.tile-column
        - tileGroup = "side"
        include partials/_tiles.jade
      main.tile-column
        - tileGroup = "main"
        include partials/_tiles.jade
        h1.
          Blog
        - tileGroup = "blog"
        include partials/_tiles.jade