doctype html
html
  head
    include partials/_head.jade
  body
    //- #Fader
    #Wrapper
      aside.tile-column.no-right-padding
        .tile-row
          include partials/_tile-me.jade
        .tile-row
          include partials/_tile-me-text.jade
      main.tile-column
        .tile-row
          include partials/_tile-open-source.jade
          include partials/_tile-cv.jade
        .tile-row
          include partials/_tile-about-me.jade
        .tile-row
          include partials/_tile-1.jade
          include partials/_tile-2.jade
        .tile-row.spread-tall.hide#main
          include partials/_tile-main.jade
        .tile-row
          include partials/_tile-3.jade
        .tile-row
          include partials/_tile-4.jade
          include partials/_tile-5.jade
      .clear-fix