- var js = ["jada", "fade"]
- var css = ["document"]
- var title = "VW - James Garner"
doctype html
html
  head
    include partials/_head.jade
  body
    #Wrapper

      div.fade
        p.
          Aliquam rutrum quam enim, eget facilisis felis interdum vel. Suspendisse potenti. Nulla posuere nisl ut ipsum gravida, quis sodales metus ultricies. Phasellus a ornare odio. Integer a velit ultricies, lobortis ante id, vehicula ante. Cras lobortis lacus diam, quis imperdiet dolor tristique vitae. Pellentesque laoreet sapien quis velit aliquet condimentum. Vestibulum maximus commodo porttitor. Praesent hendrerit varius mauris ac dignissim. Duis et tempus velit, et fermentum arcu.