p.
  What a weird time of year it is. And what a year it has been.
p.
  I have worked hard and played hard this year. I became 21, worked in my longest to date full time job, went to America, Germany, Spain, Italy and Kos, won 2 hackathons, got a job offer in London, moved into a new house and got a spray tan in Essex. Those are good innings. However, I also loved, was loved, cried, said goodbye forever, hurt and screwed up. And I ended the year in almost exactly the same position in which I started it.
p.
  I've always debated the extent to which a person's core personality is responsible for their mistakes and their approach. I've debated this because if it is, then can we also change our core personality? The aim is to find a way to make relationships work better. For example, when arrows are fired at me (metaphorically &mdash; when I am criticised), is there something I can change that would make them not be fired again? Simply put, I've debated whether we can respond to criticism about ourselves as people by making changes or if it is just simply &ldquo;the way we are&rdquo;.
p.
  When I tell people (on the rare occasion it is even necessary to know) how many relationships I have been in, I have to think a little because there's two answers. This isn't because I'm a romantic slut who needs two hands to count his partners, but because I have entered a relationship with the same person more than once, and there's a confusion about whether this counts as one long on-off relationship or &ldquo;many&rdquo; (more than one). It doesn't count as one, but let me get to the point: this is a sign. It is a sign that it probably (&ldquo;probably&rdquo; - look it up) just isn't meant to be (and so you should quit), because, at the end of the day, it would have otherwise worked (probably (!) the first time as well). Conversely, you can argue that if more than one attempt is made then there is at least something that brought us together again (and that is a justification for future attempts).
p.
  Then there is simply the thought that I need to have a massive realisation about my own existence, (long term) desires, future and personal qualities if I want to have any relationship success at all. I have been a massive cunt, and for any relationship success I need to be less of one.
p.
  My computer work is easy; I will do well. This year has shown I have been successful at working on projects and learning new skills. But this is the hard stuff. Why have I never thought about working on myself as a person: becoming better at... being me!? And what is &ldquo;me&rdquo;? What am I? What do I stand for? And why have I not stood for it (or have I?). You have to love yourself before you can love anybody else.
p.
  And so begins a long term journey of self discovery.
p.
  People are not computer programs; you can't restart them. You can't really debug them: you can try to understand them (and fail because they are almost infinitely abstracted) but you will also not fix them. So perhaps not so strangely, people drive me in a way that computers never can or will. No computer will ever break a heart or make me get up and change my life. It's people who make me do the craziest things.
p.
  In any case, admittedly, anybody could make a mockery of this, but I can tell you with all my heart that it's true and that I'm serious. The proof of requirement is in this year itself, and when I leave university I need to be ready. It will be a new life and I don't want to bring most of my past, nor the qualities that led to this year's outcome with me. I don't want to bring these into the new year even, so I am taking action immediately in quite a controlling way for short term refreshment. I'm fighting the argument that anything is &ldquo;fate&rdquo; and making my mind up. Of course, these are things I should have done a long while before now, which is proof in itself I have been a cunt.
p.
  I have the choice to make &ldquo;New Year's Resolutions&rdquo;, which I am doing, and also to choose who positively and negatively influences me (because people influence us massively). The people who influence me in a negative way will be left behind, or as I'd like to put it better: &ldquo;Locked and encapsulated into 2014&rdquo;. Then I can keep the happy memories of them as a part of the happy memories I have of that year (but to be clear, memories). And, the people who positively influence me (those I love, in reality) will move forward with me on my journey and I will build even better relationships with them. I will tell them how I feel; I will drink wine with them. I will not have an agenda or secrets and we will complain about the bright lights. We will do amazing things.
p.
  So, brutal as it is, I say goodbye to AL and MW. We have had a good year, but you are not for me. Thanks for all the fish.
p.
  And now to the people that come with me. This is obviously a subset of people I really like and influence me at all (so, less course cronies, friends of friends and so on). PN, VW, AS, LA, FS and my mother HG. Thanks for all the fish, and cheers to many more. It is going to be beautiful and magical.
p.
  The year has been so busy and I have had a great time, but now is the time to do things for me and be driven by myself. Once that is over, I can let someone else drive me more and more. I have had too many ho's and they have decided what I do for me. It's time to gain control and be an Independent Black Woman Who Does Need A Man But Has No Problem Waiting Until It Can Work Because Of Herself.
p.
  For you with whom I've had the romance this year: I am able to be friends for a long time and indeed until I am ready to be anything but this. This will be a time when I have self discovered, loved myself and I can love someone else on top of these good things for me.
p.
  To you too, and to everyone else: Merry Christmas, and Happy New Year. Even if 2015 is slower, less adventurous, closer to heart and far less connective, it will still be better.
p.
  Let's make it a better year. To Making it Count.
