p.
  What a weird time of year it is. And what a year it has been. &ldquo;So, brutal as it is, I say goodbye...&rdquo; And so begins a long term journey of self discovery. Let's make it a better year. To Making it Count.