section
  header
    h2 Education
  div

    div.no-break
      aside
        span.look-at-me.
          Degree
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-graduation-cap
              span.highlight 2:1 Computer Science BSc (Hons), Lancaster University, UK
          //- li
          //-   span Distributed Systems, AI, Advanced Internet &amp; Mobile Applications, Operating Systems &amp; Concurrency, Functional Programming (Erlang/Python) and Digital Systems (Pure Mathematics/Assembly/Compilers). Thesis on text and image semantics in Twitter subcultures.
          //- li
          //-   span Distributed Systems; Languages and Compilation; Artificial Intelligence; Advanced Internet &amp; Mobile Applications; Media Coding &amp; Processing; Operating Systems &amp; Concurrency; Functional Programming (Erlang/Python); Team Android development; Digital Systems (Pure Mathematics, Assembly, Compiling, Debugging).


    div.no-break
      aside
        span.look-at-me.
          Languages
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-globe
              span.highlight English:
              span  Native
            span
              span.fa.fa-fw.fa-globe
              span.highlight German:
              span  Fluent
            span
              span.fa.fa-fw.fa-globe
              span.highlight Spanish:
              span  Learning


    div.no-break
      aside
        span.look-at-me.
          Leadership
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-briefcase
              span.highlight Lancaster University Computer Science Society: 
              span President (2014 - 2015)
          li
            span
              span.fa.fa-fw.fa-briefcase
              span.highlight InterTech LGBT+ Diversity Forum: 
              span Organiser (2014 - 2017)
