section
  div


    div.no-break
      aside
        span.look-at-me Senior Engineer (Contract)
        span Jul 18 -
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Arcadia Group via 101 Ways
        ul
          li
            span Core team writing full stack JavaScript (React 16). Pair-owning component library used accross 7 sites including Topman and Miss Selfridge. 


    div.no-break
      aside
        span.look-at-me Founder
        span Mar 18 - Jul 18
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Entrepreneur First
              span &nbsp;(
              a.link(href="https://storydust.ai" style="vertical-align: 2px;") https://storydust.ai
              span )
        ul
          li
            span Co-founder (CTO) responsible for technology vision, roadmap and execution.
          li
            span Designed and built Google-quality AI image search via unsupervised learning ontology with subsecond result time through map-reduce query planning.
          li
            span Designed and built enterprise-scale image processing queue indexing over a million Instagram photos of people using brands&rsquo; products.
          li
            span Backend: Infrastructure-as-code containerised microservice infrastructure (Node.js/Docker/CoreOS/RabbitMQ/Redis) on Google Cloud Platform, DigitalOcean and Azure with dynamic load balancing and alerting. 100% critical path automated test coverage.
          li
            span Frontend: Mobile-first React 16 app.


    div.no-break
      aside
        span.look-at-me Engineer
        span Feb 17 - Mar 18
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Beamery Ltd, London
        ul
          li
            span Early hire in full stack engineering for Beamery pre-Series A to post-Series B. Beamery is the world&rsquo;s most advanced sourcing and recruitment marketing platform, empowering companies to treat candidates like customers.
          li
            span Pair-lead development of candidate-facing Beamery Pages product (Angular) which was key to Balfour Beatty&rsquo;s &ldquo;Outstanding Impact Transformation &amp; Change&rdquo; win in the Firm Awards.
          li
            span Lead frontend development of hiring analytics product (Angular; tracking the candidate journey from first visit to hire through Angular/Keen.io/Elasticsearch) and GDPR compliance.
          li
            span Advanced reporting work in React/Redux including data visualisation. Supported work on micro-frontend architecture (React, Angular and Vue in one SPA).
          li
            span Mentored Founders &amp; Coders interns through a full agile project alongside daily junior developer mentoring and pair programming.
          li
            span Ran company-wide knowledge sharing sessions on NLP and web components, and established end-to-end testing with Selenium and Cucumber.
          li
            span Worked directly with Facebook, Balfour Beatty, Grab, Greenhouse and Roivant.
          //- li
          //-   span Developed advanced UI for Elasticsearch filtering and real time notifications through socket.io. Took ownership of open source Node.js Apache Tika bridge library from The International Consortium of Investigative Journalists. 


    div.no-break
      aside
        span.look-at-me Engineer
        span Mar 16 - Feb 17
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight PlayStation (Sony Interactive Entertainment Europe R&amp;D West), London
        ul
          li
            span Full stack engineering for PlayStation&rsquo;s best-in-class developer support platform.
          li
            span Individual responsibility and leadership on application&rsquo;s frontend strategy: build process, dependency management, universal JavaScript, migration of tightly coupled frontend/backend code to APIs and Angular.
          li
            span Regular work in San Mateo, delivering Angular training to London and California senior developers.
          li
            span Lead agile planning and sprint reviews, regularly presenting to Japanese stakeholders.
          li
            span Successful long term sprint visualisation project with GitHub/Rally APIs and D3.
          li
            span Supported Architecture Board with greenfield AWS project (Node.js lambdas, Serverless, CloudFormation, Elasticsearch and SNS).


    div.no-break
      aside
        span.look-at-me Data Engineer
        span Nov 14 - Oct 15
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Relative Insight Ltd, Lancaster
        ul
          li
            span Developed Python web scrapers for high profile brands including Oxford University and Smirnoff. Published Mumsnet language normalisation algorithms.


    div.no-break
      aside
        span.look-at-me Developer
        span Jun 14 - Sep 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight DataCentred Ltd, MediaCityUK, Manchester
        ul
          li
            span Internship. Co-delivered customer facing support app in Ruby on Rails and Angular within 3 months, reflecting JIRA ticket activity in real-time. Implemented LDAP support in OSS project phpipam.


    div.no-break
      aside
        span.look-at-me Developer
        span Jun 13 - May 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight NextWorldWeb Ltd, InfoLab21, Lancaster
        ul
          li
            span Moved large legacy ecommerce systems to CakePHP, CS-Cart and WordPress. Automated WordPress theme creation from any site.