section
  div


    a(id="engagement-arcadia-group")
    div.no-break
      aside
        span.look-at-me Senior Consultant
        span Jul 18 -
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Arcadia Group/101 Ways
        ul
          li
            span On-site via 101 Ways helping Arcadia Group transform engineering and replatform to React/Node.js.
          li
            span Pair-owning greenfield component library used accross 7 sites including Topshop, Topman and Miss Selfridge.
          li
            span Conducting dozens of interviews and technical tests for 101 Ways.
          li
            span Leading migration to React 16.


    a(id="engagement-storydust")
    div.no-break
      aside
        span.look-at-me Co-founder
        span Mar 18 - Jul 18
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Storydust/Entrepreneur First
              span &nbsp;(
              a.link(href="https://vimeo.com/277960656" style="vertical-align: 2px;") https://vimeo.com/277960656
              span )
        ul
          li
            span EF10 alumnus. &ldquo;EF is the best place to find a co-founder, build a company and access the world&rsquo;s best investors. We&rsquo;ve helped build over 140 technology companies collectively worth over $1bn.&rdquo;
          li
            span Co-founded Storydust which helped brands create &ldquo;authenticity at scale&rdquo; by letting them curate, license and use user-generated imagery of people using their products.
          li
            span Architected and built Google-quality AI image search via unsupervised learning ontology. Subsecond response achieved through map-reduce query planning. Search results were influenced by feedback loops from real world content performance and consumer interactions.
          li
            span Designed and built enterprise-scale image processing queue indexing over a million Instagram posts.
          li
            span Backend stack: Infrastructure-as-code containerised microservice infrastructure (Node.js/Docker/CoreOS/RabbitMQ/Redis) on Google Cloud Platform, DigitalOcean and Azure with dynamic load balancing and alerting. 100% test coverage verified with Istanbul.
          li
            span Frontend stack: Mobile-first React SPA.


    a(id="engagement-beamery")
    div.no-break
      aside
        span.look-at-me Engineer
        span Feb 17 - Mar 18
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Beamery
              span &nbsp;(
              a.link(href="https://beamery.com/software/pages" style="vertical-align: 2px;") https://beamery.com/software/pages
              span )
        ul
          li
            span Early hire in full stack engineering for Beamery pre-Series A to post-Series B. Beamery is the world&rsquo;s most advanced sourcing and recruitment marketing platform, empowering companies to treat candidates like customers.
          li
            span Mentored Founders &amp; Coders interns through a full agile project alongside daily junior developer mentoring and pair programming.
          li
            span Worked one-to-one with Facebook (US), Balfour Beatty, Grab (Singapore), Greenhouse and Roivant.
          li
            span Pair-lead development of candidate-facing Beamery Pages product (Angular) which was key to Balfour Beatty&rsquo;s &ldquo;Outstanding Impact Transformation &amp; Change&rdquo; win in the Firm Awards.
          li
            span Lead frontend development of hiring analytics product, tracking the candidate journey from first visit to hire through Angular, Keen.io and Elasticsearch.
          li
            span Advanced data visualisation and reporting work in React. Supported work on micro-frontend architecture (React/Angular in one SPA). Implemented GDPR workflows, real time socket.io notifications and advanced UI for Elasticsearch filtering. Established end-to-end testing with Selenium and Cucumber before first QA hire.
          //- li
          //-  span Ran company-wide knowledge sharing sessions on NLP and web components.
          //- li
          //-   span Took ownership of open source Node.js Apache Tika bridge library from The International Consortium of Investigative Journalists. 


    a(id="engagement-playstation")
    div.no-break
      aside
        span.look-at-me Engineer
        span Mar 16 - Feb 17
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight PlayStation (R&amp;D at Sony Interactive Entertainment Europe)
        ul
          li
            span Full stack engineering for PlayStation&rsquo;s best-in-class developer platform.
          li
            span Individual responsibility and leadership on application&rsquo;s frontend strategy: build process, dependency management, universal JavaScript and migration of tightly coupled frontend/backend code to Angular and restful APIs.
          li
            span Regular work in San Mateo delivering Angular training to London and Bay Area senior engineers.
          li
            span Agile planning and sprint reviews presenting to Japanese stakeholders.
          li
            span Delivered sprint visualisation project with GitHub/Rally APIs and D3.
          li
            span Supported Architecture Board with greenfield AWS project (Node.js lambdas, Serverless, CloudFormation, Elasticsearch and SNS).


    a(id="engagement-epsilon-data")
    div.no-break
      aside
        span.look-at-me Co-founder
        span 2015 - 2017
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Epsilon Data
              span &nbsp;(
              a.link(href="https://epsilondata.co.uk" style="vertical-align: 2px;") https://epsilondata.co.uk
              span )
        ul
          li
            span Epsilon Data was a profitable automated marketing startup.
          li
            span One-to-one mentoring with the UK&rsquo;s leading ethical tourism charity.
          li
            span Lead generation by finding Twitter conversations and replying intelligently through brands&rsquo; Twitter handles. Test-driven algorithms avoided spam.
          li
            span WYSIWYG landing pages with tracking from automated tweets through to website via client-side SDK.
          li
            span &ldquo;Deep Profiles&rdquo; parallel crawler technology automatically associated and clustered LinkedIn, Twitter and Facebook profiles.
          li
            span API-first insight platform (Node.js) with 0 downtime deployments through CloudFlare API. Failsafe integrations with Twitter, Google Images, Mapbox, GeoNames and Genderize.io.
          li
            span Self-service responsive &ldquo;Client Portal&rdquo; app (Angular) consuming insight platform APIs.
          li
            span Beautiful slide deck reporting with impress.js, Chartist and wkhtmltopdf. 3-year old codebase migrated to Browserify, Babel and Sass build system.
          li
            span Expanded company to consumer feedback space with end-to-end solution built on Twilio and SendGrid. Hand-trained &ldquo;NLP Relationship Health&rdquo; algorithms built with Apache OpenNLP and MonkeyLearn.


    a(id="engagement-relative-insight")
    div.no-break
      aside
        span.look-at-me Data Scientist
        span Nov 14 - Oct 15
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Relative Insight, Lancaster
        ul
          li
            span Developed Python web scrapers for high profile brands including Oxford University and Smirnoff. Published language normalisation algorithms for Mumsnet and Twitter.


    a(id="engagement-datacentred")
    div.no-break
      aside
        span.look-at-me Developer
        span Jun 14 - Sep 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight DataCentred, MediaCityUK, Manchester
        ul
          li
            span Internship. Co-delivered customer facing support app in Ruby on Rails and Angular within 3 months, reflecting JIRA ticket activity in real-time. Implemented LDAP support in OSS project phpipam.


    a(id="engagement-next-world-web")
    div.no-break
      aside
        span.look-at-me Developer
        span Jun 13 - May 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight NextWorldWeb, InfoLab21, Lancaster
        ul
          li
            span Moved large legacy ecommerce systems to CakePHP, CS-Cart and WordPress. Automated WordPress theme creation from any site.


    a(id="engagement-dark-flow")
    div.no-break
      aside
        span.look-at-me Developer
        span 2011 - 2012
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Dark Flow
              span &nbsp;(
              a.link(href="https://youtube.com/watch?v=yY3QpVo25lw" style="vertical-align: 2px;") https://youtube.com/watch?v=yY3QpVo25lw
              span )
        ul
          li
            span Lead a team of 5 developing a &ldquo;true cross platform game maker&rdquo;. Implemented Mac/Windows/Linux game support through .NET bytecode runner; browser and mobile support through JavaScript generation.


    a(id="engagement-ds-game-maker")
    div.no-break
      aside
        span.look-at-me Founder
        span 2007 - 2011
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight DS Game Maker
              span &nbsp;(
              a.link(href="http://gamemakerblog.com/2010/09/22/ds-game-maker-5-ide-interface-looks-familiar/" style="vertical-align: 2px;") http://gamemakerblog.com/2010/09/22/ds-game-maker
              span )
        ul
          li
            span Created famous Nintendo DS homebrew game making software.
          li
            span Sold over 1,500 serial codes and 350 physical &lsquo;Homebrew Kits&rsquo; by age 17.
          li
            span Software and hardware adopted at American summer camps and site licenses sold worldwide. International logistics work with Hong Kong and support in German and Dutch.
