section
  header
    h2 Commercial Ventures
  div


    div.no-break
      aside
        span.look-at-me Entrepreneur First (Storydust)
        span Mar 18 - Jul 18
      div
        ul
          li
            span
              |[
              a.link(href="https://storydust.ai") https://storydust.ai
              |] 
            span Co-founder (CTO) responsible for technology vision, roadmap and execution.
          li
            span Designed and built Google-quality AI image search via unsupervised learning ontology with subsecond result time through map-reduce query planning.
          li
            span Designed and built enterprise-scale image processing queue indexing over a million Instagram photos of people using brands&rsquo; products.
          li
            span Backend: Infrastructure-as-code containerised microservice infrastructure (Node.js/Docker/CoreOS/RabbitMQ/Redis) on Google Cloud Platform, DigitalOcean and Azure with dynamic load balancing and alerting. 100% critical path automated test coverage.
          li
            span Frontend: Mobile-first React 16 app.


    hr


    //- div.no-break
    //-   aside
    //-     span.look-at-me Forever
    //-     span 2016 - 2017
    //-   div
    //-     ul
    //-       li
    //-         span Founder of Epsilon Data offshoot &ldquo;Forever&rdquo;, &ldquo;a simple and proven system to boost client engagement and shape strategy in a single step&rdquo;.
    //-       li
    //-         span End-to-end solution with Twilio and SendGrid integrations, hand-trained &ldquo;NLP Relationship Health&rdquo; algorithms on top of Apache OpenNLP and MonkeyLearn.


    div.no-break
      aside
        span.look-at-me Epsilon Data
        span 2015 - 2017
      div
        ul
          li
            span
              |[
              a.link(href="https://epsilondata.co.uk") https://epsilondata.co.uk
              |] 
            span Technical co-founder of profitable automated marketing startup.
          li
            span Lead generation by finding Twitter conversations and replying intelligently through brands&rsquo; Twitter handles. Test-driven strategy to avoid spam.
          li
            span WYSIWYG landing pages with tracking from automated tweets through to website via client-side SDK.
          li
            span &ldquo;Deep Profiles&rdquo; parallel crawler technology automatically associating LinkedIn, Twitter and Facebook profiles for clustering.
          li
            span API-first insight platform (Node.js/restify) with 0 downtime deployments through CloudFlare API. Failsafe integrations with Twitter, Google Images, Mapbox, GeoNames and Genderize.io.
          li
            span Self-service responsive &ldquo;Client Portal&rdquo; app (Angular) consuming insight platform APIs.
          li
            span Beautiful slide deck reporting with impress.js, Chartist and wkhtmltopdf. 3-year old codebase migrated to Browserify, Babel and Sass build system.
          li
            span One-to-one mentoring with the UK&rsquo;s leading ethical tourism charity.


    hr


    div.no-break
      aside
        span.look-at-me Dark Flow
        span 2011 - 2012
      div
        ul
          li
            span
              |[
              a.link(href="https://youtube.com/watch?v=yY3QpVo25lw") https://youtube.com/watch?v=yY3QpVo25lw
              |] 
            span Lead developer of true cross platform game maker in a team of 5.
          li
            span Implemented Mac/Windows/Linux game support through .NET bytecode runner; browser and mobile support through JavaScript generation.


    div.no-break
      aside
        span.look-at-me DS Game Maker
        span 2007 - 2011
      div
        ul
          li
            span
              |[
              a.link(href="http://gamemakerblog.com/2010/09/22/ds-game-maker-5-ide-interface-looks-familiar/") http://gamemakerblog.com/2010/09/22/ds/
              |] 
            span Developer of famous Nintendo DS homebrew game making software.
          li
            span Sold over 1,500 serial codes and 350 physical &lsquo;Homebrew Kits&rsquo; by age 17.
          li
            span Adopted at American summer camps and site licenses sold worldwide. International logistics work with Hong Kong and support in German and Dutch.