p.
  I once knew a man called Eric, who could ring two church bells at once. For the campanology-minded, this may come as a surprise; for those who do not delight in bell ringing, let me assure you that it is a difficult task. An impression of Eric may therefore be easily gained: a man of rigidity, routine, and pure ability: all of these in place of heart. But when I drunk with Eric at the Red Rooster, I found that I was wrong. I learnt we must dig a little deeper to find someone's character, for it is not determined by their circumstance, wealth, or pure ability - but by their voluntary actions: their choices, and their will. Later, Eric would drive me home from the church on a Friday night, at his own will. Even though he would frown and ring two bells at once, Eric was a real gentleman with a heart of gold.

p.
  At this time of year, we are particularly reflective when it comes to the people we can no longer see, love, and who love us. Christmases have been and gone, and Eric is but a distant memory. We also remember many times that were, but now no longer are, and this brings sorrow and discontentment at a time, for others, of happiness. As well as sorrow and discontentment, reflection may bring home for many a sense of loneliness and isolation to which no person should ever be subjected - a sense that seems impossible to overcome.

p.
  It is, however, also an opportunity for many to celebrate with thoughts of the future instead, and to take action to cure the loneliness and isolation they may feel. This can be achieved by building bridges with those to whom there has been past hostility. As with my judgement of Eric, it really is never too late to see a heart of gold, and to right what is wrong. It can be achieved by reaching out, even after many months, to those from a seemingly different life altogether. But most of all, it is achieved through love. This is, perhaps, the very definition of Christmas.

p.
  I ask you to reach out, today, to somebody who needs you. Your character is not determined by your circumstance or ability, but by your choices. Make this choice today, and I promise that somebody will be grateful forever. Adam, Morgan, Lenny, Franek, Chris and many more are those who surround me and provide a foundation for my success and happiness: they reach out to me as I reach out to them. They know in their hearts that the foundation for any success and happiness in life, is love: the Christmas gift that never stops giving.

p.
  This is the love that I share with you today - in sickness and in health, and in the name of success and happiness for us both. Thank you, and Merry Christmas.