p.
  In my first year I certainly pulled a fair few &ldquo;all nighters&rdquo;. Since then I've got a bit old and boring and maybe also more organised (whom am I kidding?) so it's not necessary. On the other hand, hackathons are a much better excuse to stay up all night and it's so much fun!

p.
  I'll make this quick, since I'm very tired. We just won Lancaster Startup Weekend 2014! I have not slept. It's the first time it's been hosted here and hopefully not the last. Even nicer is the notion that I decided to do it right at last minute - literally hours before it started.

img(src="static/repcoin-winners.jpg" alt="RepCoin winning Lancaster Startup Weekend 2014")

p.
  Alright, I've slept now. As we were.

p.
  I originally proposed a Drone-based startup idea which was probably 10 years too early for rainy England. That being the case only 5 of ~20 startup ideas were taken forward on the first night, my favourite of which was &ldquo;Reputation Currency&rdquo;. I was in high demand as a developer so I had ultimate choice in which startup idea to develop as a member of that team. In any case &ldquo;Reputation Currency&rdquo; was the thing for me and we started to decompose the problem.

p.
  The idea of a reputatation currency is to quantify someone's reputation as a value that be increased by other people &mdash; to consider it on an equal level with personal wealth. We quickly realised that reputation was very context dependent. For example, an engineer might not have as much reputation in a music context.

p.
  But a common startup pitfall is to think that the company can save the world by doing too much. That sure was us. We were unclear about the actual product - our actual user - and our route to profit too. Bad business. So over the weekend we got to this and thought instead about quantifying personality and how this could shape on-line discussions (forums or the comments section on a website). Facebook's newsfeed algorithm is famous for bringing relevance to a mass of data (thousands of likes and interactions from friends and content producers). A website's comments section is also a mass of data, so how could an algorithm bring personalisation to this with other good side effects?

p.
  Well, here's the answer. Can you imagine a comments section with comments you actually want to see? We're not talking about opinion or demographics here. Variety and diversity are crucial for on-line engagement. Rather, we're objectifying and quantifying the personality of commenters to pair up like minded people which instead increases on-line engagement. Moreover, trolls are paired with trolls which reduces the visibility of hate speech massively without censorship and the required human effort of that.

p.
  Now to the nitty gritty. In less than 24 hours I developed a one-line JavaScript plug-in for websites to embed our technology &ldquo;RepCoin&rdquo;. I built with Grunt and Sass, wrote the backend in node.js, frontend in AngularJS and used lowdb for persistent storage. This was all checked into a GitHub repo and hosted at DigitalOcean. I think that's pretty good going for one guy and the time given. I didn't sleep so discovering we won was a really incredible moment:

img(src="static/repcoin-announcement.jpg" alt="We couldn't believe we won!")

p
  |The code I wrote was not the cleanest (obviously) but it was actually quite clever. Websites can embed the technology with a single line of JavaScript. The comments are embedded exactly where the 
  code &lt;script&gt;
  |  tag appears in the DOM:

code.block.
  &lt;script src="http://embed.repcoin.co/"&gt;&lt;/script&gt;

p.
  And that's it! This works live on websites like BBC News and the New York Times:

img(src="static/repcoin-bbc.png" alt="RepCoin Embed on BBC News")

p.
  Here's a mid-progress screenshot of the tag matching code I wrote (functional asynchronous magic). The Terminal window shows logs from the node.js server as it replies to requests:

img(src="static/repcoin-code.png" alt="Sublime and Terminal for RepCoin code")

p.
  The competition was tough in the end but we came through. What a team. We have office space now and we're working and drinking with startup companies in Manchester on Friday. Thanks so much to Sophia, Adam and Balint for working out the problem with me and keeping me sane whilst I wrote a lot of code. And thanks to the organisers for all of the Red Bull that made this possible.

p.
  Now, back to my annoying degree...