div.wrapper.bar.no-print.fade
  p

    a(href="#{baseHref}")
      span.fa.fa-arrow-left
      span Go Home

    a(href="../static/james-garner-resume.pdf")
      span.fa.fa-arrow-down
      span Download PDF

    //- a(href="x")#send-message
    //-   span.fa.fa-envelope
    //-   span Send Me a Message

    //- a(href="https://github.com/jadaradix/jadaSite")#fork-github
    //-   span.fa.fa-github-alt
    //-   span Fork this on GitHub