section.fade.no-break
  header
    h2 References
  div
    div.no-break
      aside
        span.
          Academic &amp; Personal
      div
        ul.icons
          li
            span.fa.fa-fw.fa-user
            span.highlight Prof. Geoff Coulson
          li
            span.fa.fa-fw
            span Head of School 2012 - 2014, School of Computing and Communications
          li
            span.fa.fa-fw
            span.phone +44 1524 510306
            span.fg-turquoise &nbsp;&nbsp;&bull;&nbsp;&nbsp;
            span g.coulson@lancaster.ac.uk
    div.no-break
      aside
        span.
          Professional
      div
        ul.icons
          li
            span.fa.fa-fw.fa-user
            span.highlight Alvin Blewitt
          li
            span.fa.fa-fw
            span Director, Next World Web Limited
          li
            span.fa.fa-fw
            span.phone +44 1524 489948
            span.fg-turquoise &nbsp;&nbsp;&bull;&nbsp;&nbsp;
            span info@nextworldweb.co.uk