p.
  You can read my r&eacute;sum&eacute; (CV &mdash; my &ldquo;what, where and when&rdquo;) on-line.
p
  |It's a pretty responsive page, but you can 
  a(href="static/james-garner-resume.pdf") download a PDF
  |  as well for old times' sake.