- var js = ["angular-instance"]
- var css = ["jada"]
- var title = "403"
- var tileGroup = null
doctype html
html
  head
    include ../_head.jade
  body(ng-app="jadaSite")
    #Wrapper(ng-controller="tilesController")
      aside.tile-column
        - tileGroup = "40x-side"
        include ../_tiles.jade
      main.tile-column
        - tileGroup = "403-main"
        include ../_tiles.jade