p.
  You wanted to be the very best, like no one ever was. To access this page was your real test; to serve it was your cause. You have travelled accross the server, searching far and wide. Each request to understand, the power that's inside...
p
  |But you failed. 
  a(href="", onclick="window.history.back(); return false;") Go Back?