p
  |Why can't you just run 
  code su
  |  on OS X?
p
  |You have to run 
  code sudo su
  |  because root doesn't have a password, so there's no way to know with just 
  code su
  |  whether you should be allowed root access.