.buttons {
  margin-top: $spacing / 2;
  a {
    display: block;
    float: left;
    min-width: 128px;
    margin-right: $spacing / 4;
    margin-bottom: $spacing / 4;
    padding: ($spacing / 3) $spacing ($spacing / 3) $spacing !important;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: $radius;
  }
  a.icon-left {
    span {
      margin-right: $spacing / 5;
    }
  }
  a.icon-right {
    span {
      margin-left: $spacing / 5;
    }
  }
}

.buttons:after {
  @extend .clear-fix;
}

.buttons.at-top {
  margin-top: 0;
}

.buttons.display {
  // padding: $spacing / 4;
  // background-color: rgba(255, 255, 255, 0.1);
  // border-radius: $radius;
}