* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: none;
}

.fade {
  opacity: 0;
}

.no-overflow {
  overflow: hidden !important;
}

.no-split {
  white-space: nowrap;
}

.shadowBackground {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0 3px 0 3px;
  margin: 0 2px 0 0;
  border-radius: $radius;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

body {
  background-color: $bg;
  color: $fg;
  font: $font-body-size $font-body;
}

.wrapper {
  margin: 0 auto 0 auto;
  max-width: $r-width-2;
  padding: $spacing;
}

.wrapper:after {
  @extend .clear-fix;
}

#Wrapper > aside {
  border-radius: $radius;
}

#Wrapper > main {
  border-radius: $radius;
}

@media only screen and (min-width: $r-width-1) {

  #Wrapper > aside {
    position: fixed;
    float: left;
    width: $tile-size;
  }

  #Wrapper > main {
    margin-left: $tile-size + $spacing;
  }

}

#Content {
  display: none;
}

ul {
  margin-left: $spacing * 1.5;
  li {
    margin-bottom: 3px;
  }
}

ul:after {
  @extend .clear-fix;
}

a {
  text-decoration: none;
  color: $fg;
}

@import "_headers.scss";
@import "_paragraphs.scss";