* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: none;
}

.no-overflow {
  overflow: hidden !important;
}

body {
  background-color: darken($navy, 14%);
  color: $fg;
}

body, input, button {
  font: 15px $font-body;
}

#Wrapper {
  margin: 0 auto 0 auto;
  padding: $spacing;
  max-width: $r-width-2;
}

#Wrapper:after {
  @extend .clear-fix;
}

#Wrapper > aside {
  border-radius: $radius;
}

#Wrapper > main {
  border-radius: $radius;
}

@media only screen and (min-width: $r-width-1) {

  #Wrapper > aside {
    position: fixed;
    float: left;
    width: $tile-size;
  }

  #Wrapper > main {
    margin-left: $tile-size + $spacing;
  }

}

#Content {
  display: none;
}

h1, h2, h3 {
  text-transform: lowercase;
  font-family: $font-heading;
  font-weight: normal;
}

h1 {
  margin-top: 16px;
  font-size: 38px;
}

h2 {
  font-size: 28px;
}

p {
  margin: ($spacing / 2) 0 ($spacing / 2) 0;
  padding: 0;
  text-align: justify;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin-left: $spacing * 1.5;
  li {
    margin-bottom: 3px;
  }
}

ul:after {
  @extend .clear-fix;
}

a {
  text-decoration: none;
  color: $fg;
}