$grayer: lighten($light-gray, 15%);
$grayest: lighten($light-gray, 5%);

body {
  background-color: white;
}

#Wrapper {
  background-color: white;
}

h1 {
  margin-top: 0;
}

#Wrapper > h1 {
  margin-bottom: $spacing;
  padding-left: 4px;
  padding-bottom: $spacing / 2;
  border-bottom: 2px solid $grayer;
  font-size: 48px;
  color: black;
}

section {
  margin-bottom: $spacing;
  header {
    border-top-left-radius: $radius;
    border-top-right-radius: $radius;
    border: 2px solid $grayer;
    border-bottom: 0;
    // background-color: $grayest;
    background-color: $grayer;
    h2 {
      color: white;
      font-size: 24px;
    }
  }
  div {
    width: 100%;
    * {
      color: black;
    }
    div {
      margin-bottom: $spacing / 2;
      aside {
        span {
          font-size: 100%;
          color: $grayest;
          text-transform: lowercase;
        }
      }
      div {
        padding-top: $spacing / 2;
        ul.icons {
          margin-left: 0;
          list-style-type: none;
          li {
            line-height: 100%;
            span.fa {
              margin-right: $spacing / 4;
              font-size: 130%;
              color: $blue;
            }
            span:not(.fa) {
              vertical-align: 2px;
            }
          }
        }
      }
    }
  }
  div:after {
    @extend .clear-fix;
  }
}

section.unheadered {
}

section:not(.unheadered) {
  > * {
    padding: ($spacing / 4) ($spacing / 2) ($spacing / 4) ($spacing / 2);
  }
  div {
    border: 2px solid $grayer;
    border-top: 0;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    background-color: white;
  }
}

section:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: $r-width-1) {

  body {
    background-color: $light-gray;
    padding: $spacing;
  }

  #Wrapper {
    border-radius: $radius;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  section {
    div {
      div {
        aside {
          float: left;
          width: 20%;
          text-align: right;
        }
        div {
          float: left;
          width: auto;
          padding-top: 0;
          margin-left: $spacing / 2;
        }
      }
    }
  }

}