$form-padding: $spacing / 4;
$field-width: 256px;
$fade-speed: 0.25s;

input, textarea, button {
  font: $font-body-size $font-body;
  padding: $form-padding;
  border: 2px solid $grayest;
  width: 100%;
  border-radius: $radius;
  &:focus {
    outline: 0;
    box-shadow: 0 0 4px $turquoise;
    transition: box-shadow $fade-speed ease-in-out;
  }
  &:not(:focus) {
    box-shadow: none;
    transition: box-shadow $fade-speed ease-in-out;
  }
}

input[type=submit], button {
  background-color: transparent;
}

input[type=submit] {
  padding-top: $spacing / 2;
  padding-bottom: $spacing / 2;
  text-transform: uppercase;
  background-color: $turquoise;
  color: white;
  letter-spacing: 0.5px;
}

textarea {
  display: block;
  height: $field-width / 2;
}

@media only screen and (min-width: $r-width-1) {
  .form-padding-hack {
    padding-top: $form-padding;
    padding-bottom: $form-padding;
  }
}