.message {
  margin-bottom: $spacing !important;
  padding: $spacing;
  line-height: $spacing;
  background-color: $light-gray;
  border-radius: $radius;
  color: white;
  p {
    text-align: center;
  }
  span {
    vertical-align: middle;
  }
  span.fa {
    font-size: 150%;
    margin-right: $spacing / 2;
  }
}

.message.good {
  background-color: $green;
}

.message.bad {
  background-color: $red;
}

.message.info {
  background-color: $blue;
}