.message, blockquote {
  margin-bottom: $spacing !important;
  padding: $spacing;
  line-height: $spacing;
  background-color: $light-gray;
  border-radius: $radius;
  color: white;
  span {
    vertical-align: middle;
  }
  span.fa {
    font-size: 150%;
    margin-right: $spacing / 2;
  }
}

.message.good, blockquote.good {
  background-color: $green;
}

.message.bad, blockquote.good {
  background-color: $red;
}

.message.info, blockquote.good {
  background-color: $blue;
}