@page {
  size: auto;
  margin: 32mm 18mm 18mm 18mm;
}

@media print {

  body {
    padding: 0 !important;
    background-color: white !important;
    background-image: none;
  }

  .pane {
    border-radius: 0 !important;
    box-shadow: none !important;
  }

  * {
    -webkit-print-color-adjust: exact;
  }

  .no-print {
    display: none;
  }

  .break-before {
    page-break-before: always;
  }

}