#avatar {
  margin-top: $spacing;
  img {
    display: block;
    margin: 0 auto 0 auto;
    width: 192px;
    border: 4px solid white;
    box-shadow: 0 0 6px $light-gray;
    border-radius: 50%;
  }
}

#details {
  li {
    float: left;
  }
  li.go-right {
    float: right;
  }
  ul {
    margin-right: 10%;
  }
  .name {
    margin-top: 2px;
    font-family: $font-heading;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 140%;
  }
}