//Fonts
$font-name: "Source Sans Pro";
$font-family: $font-name, "Arial", "Helvetica", sans-serif;
$font-size: 15px;

//Sizes
$spacing: 16px;
$radius: 3px;
$tile-size: 272px;
$scrollbar-width: 16px;

//Responsive Sizes
$r-width-1: ($tile-size * 2) + ($spacing * 3);
$r-width-2: ($tile-size * 3) + ($spacing * 4);