//Fonts
$font-heading: "Montserrat", "Arial", "Helvetica", sans-serif;
$font-body: "Source Sans Pro", "Arial", "Helvetica", sans-serif;

//Sizes
$spacing: 16px;
$radius: 3px;
$tile-size: 272px;
$scrollbar-width: 16px;

//Responsive Sizes
$r-width-1: ($tile-size * 2) + ($spacing * 3);
$r-width-2: ($tile-size * 3) + ($spacing * 4);