#tile-stats {
  h2 {
    font-size: 18px;
    margin-bottom: 2px;
    border-bottom: 2px solid transparentize($fg, 0.5);
  }
  div {
    height: 100%;
  }
}

#tile-stats-inner {
  display: flex;
  align-items: flex-end;
  /* h2:not(:nth-child(2)) {
    margin-top: $spacing / 2;
  } */
  > div {
    height: auto;
  }
}