#tile-me-text {
  p.subtitle, .icons {
    opacity: 0.5;
  }
  .icons {
    font-size: 225%;
    a {
      margin-right: ($spacing / 2);
      color: $fg;
      background-color: transparent;
    }
  }
}