section.fade.no-break
  header
    h2 Education
  div


    h2
      |Computer Science 
      span.listen-case BSc
      |  (Hons)
      span.fg-turquoise  (Expected 2:1)
    div.no-break
      aside
        span.
          2012 &mdash; 2015
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-graduation-cap
              span.highlight Lancaster University, UK
    div.no-break
      aside
        span.
          Year 3 Studied
      div
        ul.icons
          li
            span.align-justify Distributed Systems; Languages and Compilation; Artificial Intelligence; Advanced Internet &amp; Mobile Applications; Media Coding &amp; Processing; Security and Risk.
    div.no-break
      aside
        span.
          Year 2 Studied
      div
        ul.icons
          li
            span.align-justify Operating Systems &amp; Concurrency; HCI &amp; Heuristics; Networking; Software Design; Professional Issues (Data Analysis, Legalities, Project Planning/Reporting); Functional Programming (Erlang/Python); Teamwork Android development.
    div.no-break
      aside
        span.
          Year 1 Studied
      div
        ul.icons
          li
            span.align-justify
              |Algorithms &amp; Efficiency; Databases; Digital Systems (Mathematics, Assembly, Compiling, Debugging). I got a 1
              sup
                |st
              |.


    h2
      |German Studies (Advanced) 1
      sup st
      |  Year
      span.fg-turquoise  (2:1)
    div.no-break
      aside
        span.
          2012 &mdash; 2013
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-graduation-cap
              span.highlight Lancaster University, UK
    div.no-break
      aside
        span.
          Studied
      div
        ul.icons
          li
            span.align-justify German 20<sup>th</sup> Century Culture, History, and Society; Researched Paper &lsquo;Die Folgen der Ver&auml;nderung der deutschen Sprache&rsquo; Grammar; Discussion.


    h2.optional
      |&lsquo;A&rsquo; Levels
      span.fg-turquoise  (AAB with Mathematics)
    div.optional.no-break
      aside
        span.
          2005 &mdash; 2012
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-graduation-cap
              span.highlight The Crossley Heath School, Halifax, UK
    div.optional.no-break
      aside
        span.
          Studied
      div
        ul.icons
          li
            span.align-justify
              |German 
              span.fg-turquoise (A)
              |, General Studies 
              span.fg-turquoise (A)
              |, ICT 
              span.fg-turquoise (B)
              |, Mathematics
              span , Product Design (AS Level)