section.no-break.fade
  header
    h2 Employment History
  div
    div.no-break
      aside
        span.
          June 2014 - September 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight DataCentred Ltd., MediaCityUK, Manchester
          li
            span.align-justify Cloud Platform Intern on the DevOps team. Created a customer facing Ruby on Rails and AngularJS web app which reflected a JIRA installation in real-time. Strong focus on Git, scalability and performance. Represented DataCentred at the Greater Manchester Data Dive and was described as &ldquo;our awesome intern&rdquo;.
    div.no-break
      aside
        span.
          June 2013 - May 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight NextWorldWeb Ltd., InfoLab21, Lancaster
          li
            span.align-justify Moved custom websites to Object Orientated PHP (CakePHP), WordPress &amp; CS-Cart frameworks. Automated WordPress theme creation from any site. Successful internship followed by private employment.
    div.no-break
      aside
        span.
          2007 - Present
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Invisionsoft / jadaradix design + systems, Worldwide
          li
            span.align-justify Developed &lsquo;DS Game Maker&rsquo; since 2007 in .NET and C &mdash; it's now open source. By age 17 I'd sold over 1,500 serial codes and 350 physical &lsquo;Homebrew Kits&rsquo;. It was adopted at American summer camps and I sold site licenses to schools worldwide.
          li
            span.align-justify Engineered the complete cross platform/HTML5 game maker &lsquo;Dark Flow&rsquo; (lead developer) with 4 friends. The games ran on PC via .NET and the web/mobile devices via HTML5. It was also commercially successful; we sold to the education sector and ran game making workshops.
          li
            span.align-justify I've also done paid full stack freelance work for clients including Astute Motoring, HiFi Design, Timberland Sheds and The Nail Spa.