section.fade.no-break
  header
    h2 Experience &amp; Skills
  div


    div.no-break
      aside
        span Skills: Advanced
        br
        span
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-caret-right
              span.highlight node.js (MEAN), Functional JavaScript, Object-Orientated PHP, HTML5
          li
            span
              span.fa.fa-fw
              span.align-justify .NET, frontend tooling (Sass, Grunt, Browserify...), Open Source project management


    div.no-break
      aside
        span Skills: Proficient
        br
        span
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star-o
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight AngularJS, C (ARM/Nintendo DS), Python, Ruby on Rails, DevOps (CI, PaaS)


    hr


    div.no-break
      aside
        span.
          Society Leadership
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight President
              span , The Computer Science Society (2014 &mdash; 2015).
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight Publicity Officer
              span , LGBTQ* Association (2013)
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight L&uuml;denscheid-Brighouse 
              span Twin Town society (2012 &mdash; present)
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight InterTech LGBT+ Diversity Forum 
              span Member and &lsquo;DO&rsquo; hacker


    div.no-break
      aside
        span.
          Languages
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-globe
              span.highlight English
              span  (Native)
          li
            span.align-justify
              span.fa.fa-fw.fa-globe
              span.highlight German
              span  (Fluent)


    div.no-break
      aside
        span.
          For Fun
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span Bell ringer, pianist, badminton player and collector of &ldquo;I &hearts; (...)&rdquo; t-shirts. I exchange with Germany every year and I visited 6 countries in 2014. I love Europe!