section.fade.no-break
  header
    h2 Experience &amp; Skills
  div


    div.no-break
      aside
        span Skills: Advanced
        br
        span
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-caret-right
              span.highlight node.js, AngularJS, HTML5, Responsive Design
          li
            span
              span.fa.fa-fw
              span.align-justify .NET (Visual Basic, C# &amp; Mono), jQuery, Sass, Grunt


    div.no-break
      aside
        span Skills: Proficient
        br
        span
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star
          span.fa.fa-star-o
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight Git, OO JS, LAMP (OO PHP), C (Nintendo DS), Ruby on Rails, Python
          li
            span.align-justify
              span.fa.fa-fw
              span Templating (Jade, Haml), Accessibility, UNIX SysOps, Graphic Design, JavaFX


    hr


    div.no-break
      aside
        span.
          Society Leadership
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight President
              span , The Computer Science Society (2014 &mdash; present)
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight Webmaster 
              span &amp;
              span.highlight  Social Secretary
              span , The Computer Science Society (2012 &mdash; 2014)
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight Publicity Officer
              span , LGBTQ* Association (2013)
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span.highlight L&uuml;denscheid-Brighouse 
              span Twin Town society (2012 &mdash; present)


    div.no-break
      aside
        span.
          Languages
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-globe
              span.highlight English
              span  (Native)
          li
            span.align-justify
              span.fa.fa-fw.fa-globe
              span.highlight German
              span  (Fluent)


    div.no-break
      aside
        span.
          For Fun
      div
        ul.icons
          li
            span.align-justify
              span.fa.fa-fw.fa-caret-right
              span Bell ringer, pianist, badminton player and collector of &ldquo;I &hearts; (...)&rdquo; t-shirts. I exchange with Germany every year and I've exchanged with Poland independently. I love Europe!