div.no-break.fade
  h1 James Garner
  h2.subtitle
    span.fade
      span.fa.fa-align-justify
      span Full Stack Engineer
    span.fade
      span.fa.fa-paint-brush
      span Designer
    span.fade
      span.fa.fa-github-square
      span Open Source Hero