div.no-break.fade
  h1 James Garner
  h2.subtitle
    span.fade
      span.fa.fa-align-justify
      span Full Stack Dev
    span.fade
      span.fa.fa-cloud-upload
      span Automation Hero
    span.fade
      span.fa.fa-pie-chart
      span Data Junkie