div.no-break.fade
  h1 James Garner
  h2.subtitle
    span.fade
      span.fa.fa-terminal
      span Full Stack Developer
    span.fade
      span.fa.fa-paint-brush
      span Designer
    span.fade
      span.fa.fa-github-alt
      span Open Source Hero