div.no-break.fade
  h1 James Garner
  h2.subtitle
    span.fade
      span.fa.fa-align-justify
      span Full Stack Engineer
    span.fade
      span.fa.fa-cloud-upload
      span Automation Junkie
    span.fade
      span.fa.fa-heart
      span True Romantic