section.fade.no-break
  header
    h2 Professional Development
  div


    h2 Talks Given
    //- div.no-break
    //-   aside
    //-     span October 2014
    //-   div
    //-     ul.icons
    //-       li
    //-         span.fa.fa-fw.fa-microphone
    //-         span.highlight Cloudy with a Chance of GitHub
    //-       li
    //-         span For The Computer Science Society.
    div.no-break
      aside
        span January 2014
        br
        span Lancaster
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight Facebook Data Analysis
          li
            span.justify &ldquo;What does your Facebook say about you? I will show how we can leverage the power of Computer Science to learn about our own everyday on-line interactions.&rdquo;
    div.no-break
      aside
        span November 2012
        br
        span Lancaster
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight From UNIX to ARM: Make your own Nintendo DS Homebrew
          li
            span.justify &ldquo;Compiling C programs for Nintendo platforms&rdquo;





    h2 Conferences, Hackathons &amp; Networking
    div.no-break
      aside
        span October 2014
        br
        span Skype, London
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-comments-o
              span.highlight Hey girl, let's talk about UX and Gender
          li
            span.justify &ldquo;We've been thinking about what it means to create inclusive designs and work in a diverse team. How is gender identity important to modern users and what is it anyway?&rdquo;
    div.no-break
      aside
        span July 2014
        br
        span Manchester
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Greater Manchester Data Dive
          li
            span.justify Drilled into a dataset of ~700,000 Tweets from the Greater Manchester and Lancashire region to look for insights that could aid the local community via statistical analysis and heatmapping. Team of ~8.
    div.no-break
      aside
        span April 2014
        br
        span Lancaster
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-comments-o
              span.highlight InfoLab21 Showcase
          li
            span.justify Presented my research &ldquo;Geosocial Networking Security and Facebook Semantic Analysis&rdquo; (via poster) alongside PhD students, looking at the reverse engineering of Grindr (&lsquo;Stalkr&rsquo;) to automatically find users' locations. Also wrote a framework for analysing Facebook personal archives (to create a common private social graph).
    div.no-break
      aside
        span March 2014
        br
        span Lancaster
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Hack Smart Streets 2014
          li
            span.justify Developed an API for public bodies to detect decaying street furniture from crowdsourced imagery in .NET using ffmpeg and a home grown Computer Vision algorithm. &lsquo;Most Commercially Viable&rsquo; Prize winners (&pound;1000). Team of 4.
    div.no-break
      aside
        span August 2013
        br
        span Leeds
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight LeedsHack 2013
          li
            span.justify Developed HTML5 mobile augmented reality game &lsquo;Pacman City&rsquo;. First Prize winners (4 Apple TVs). Team of 3.
    div.no-break
      aside
        span July 2012
        br
        span Leeds
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight LeedsHack 2012
          li
            span.justify Developed real-time Tower Defence game &lsquo;Maps Attax&rsquo; on Google Maps. Team of 3.