section.fade.no-break
  header
    h2 Professional Development
  div


    h2 Talks Given
    div.no-break
      aside
        span November 2015
        br
        span London
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight One Vision: Universal JavaScript
          li
            span.align-justify Company presentation including Browserify/Grunt build process, React and live demo of writing Universal JavaScript (PHP transition layer).
    div.no-break
      aside
        span November 2014
        br
        span University of Dundee
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight Nintendo DS Homebrew, 2014 Edition
          li
            span.align-justify DunDDD conference. &ldquo;Adventures in the retro Homebrew Scene&rdquo; and live demo of writing Nintendo DS homebrew.
    div.no-break
      aside
        span January 2014
        br
        span University of Lancaster
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight Facebook Data Analysis
          li
            span.align-justify &ldquo;What does your Facebook say about you? I will show how we can leverage the power of Computer Science to learn about our own everyday on-line interactions.&rdquo;
    //- div.no-break
    //-   aside
    //-     span November 2012
    //-     br
    //-     span Lancaster
    //-   div
    //-     ul.icons
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-microphone
    //-           span.highlight From UNIX to ARM: Make your own Nintendo DS Homebrew
    //-       li
    //-         span.align-justify &ldquo;Compiling C programs for Nintendo platforms&rdquo;

    h2 Conferences &amp; Hackathons
    div.no-break
      aside
        span 2015 &mdash; present
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight PHP UK, London JavaScript Community &ldquo;AppCamp&rdquo; (building cross platform Ext JS 6 apps)
    div.no-break
      aside
        span November 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Startup Weekend 2014
          li
            span.align-justify First Prize winners. Developed a one line JavaScript plug-in for reputation based comments, quantifying personality to eliminate trolls. Team of 4.
    div.no-break
      aside
        span July 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Greater Manchester Data Dive
          li
            span.align-justify Drilled into a dataset of ~700,000 Tweets from the Greater Manchester and Lancashire region to look for insights that could aid the local community via statistical analysis and heatmapping. Team of ~8.
    div.no-break
      aside
        span April 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-comments-o
              span.highlight InfoLab21 Showcase (University of Lancaster)
          li
            span.align-justify Presented my research &ldquo;Geosocial Networking Security and Facebook Semantic Analysis&rdquo; (via poster) alongside PhD students, looking at the reverse engineering of Grindr (&lsquo;Stalkr&rsquo;) to automatically find users' locations. Wrote a linguistics framework for analysing Facebook archives to create a common private social graph.
    div.no-break
      aside
        span March 2014
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Hack Smart Streets 2014 (University of Lancaster)
          li
            span.align-justify &lsquo;Most Commercially Viable&rsquo; Prize winners (&pound;1000). Developed an API for public bodies to detect decaying street furniture from crowdsourced imagery in .NET using ffmpeg and a home grown Computer Vision algorithm. Team of 4.
    div.no-break
      aside
        span August 2013
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight LeedsHack 2013
          li
            span.align-justify First Prize winners (4 Apple TVs). Developed HTML5 mobile augmented reality game &lsquo;Pacman City&rsquo;.
    div.no-break
      aside
        span More...
      div
        ul.icons
          li
            span.align-justify &ldquo;InterTech and Google Android: &lsquo;Be Together. Not The Same&rsquo;&rdquo; (Google) [2015]. FinTech (Goldman Sachs) [2015]. &ldquo;Hey girl, let's talk about UX and Gender&rdquo; (Skype) [2014]. Manchester B&#275;hance Portfolio Review [2014]. LeedsHack 2012 (real-time Tower Defence game on Google Maps).