- var js = ["angular-instance", "jada", "fade"]
- var css = ["document"]
- var title = "Résumé - James Garner"
doctype html
html
  head
    include ../_head.jade
  body
    include _bar.jade
    div.wrapper.pane.hide
      include _send-message.jade
    #Wrapper.wrapper.pane
      include _intro.jade
      include _employment-history.jade
      include _personal-development-skills.jade
      include _professional-development.jade
      include _education.jade
      include _references.jade
    include _bar.jade