- var js = ["angular-instance", "jada", "fade"];
- var css = ["resume"];
- var title = "Résumé - James Garner";
doctype html
html
  head
    include ../_head.jade
  body
    div.wrapper.pane.hide
      include _send-message.jade
    #Wrapper.wrapper.pane
      include _avatar.jade
      include _intro.jade
      include _details.jade
      include _employment-history.jade
      include _experience-skills.jade
      include _education.jade
      include _professional-development.jade
    include _bar.jade