p.
  I'm a full stack developer and I build nice things that make a difference.
p.icons
  a(href="https://twitter.com/jadaradix")
    span.fa.fa-twitter
  a(href="https://github.com/jadaradix")
    span.fa.fa-github
  a(href="skype:jadaradix?chat")
    span.fa.fa-skype
  a(href="http://careers.stackoverflow.com/jadaradix")
    span.fa.fa-stack-overflow
  a(href="mailto:j@jada.io")
    span.fa.fa-envelope-o