h1
  Oh. Hi there!
p.
  I'm James, and I'm a full stack developer. These days I'm writing web apps with frameworks like AngularJS and NodeJS, but I've worked extensively with monsters like PHP and .NET - sometimes out of choice. My specialism has been in game engine development for platforms from the Nintendo DS to the web browser (I'm a bit of an optimisation junkie, but I think it's okay to admit it here).
p
  |To see the standard of my work, read about the 
  a(data-show-static="blog-ts-content", href="") construction of this website
  | or check out 
  a(data-show-static="blog-dsgm-content", href="") DS Game Maker
  |, which lets you make your own Nintendo DS games on-line for free.
p
  |I've worked at 
  a(href="http://datacentred.co.uk/") DataCentred
  |  and 
  a(href="http://www.nextworldweb.co.uk/") Next World Web
  |  but in 2015 I'll be the beholder of a Computer Science degree from Lancaster University, and I'm looking for a great job in London. If you'd like to say hi, my advice is always free (and I tell the best jokes, honest):
ul
  li
    a(href="http://twitter.com/jadaradix") Stalk me on Twitter
  li
    a(href="http://github.com/jadaradix") Follow me on GitHub