h1 About Me
p.
  Hi! I'm a full stack developer and I build things that make a difference.
.buttons
  a(data-show-static="about-me-content", href="").icon-right
    |Read More 
    span.fa.fa-fw.fa-arrow-circle-o-right