p
  |Most of my work is open source on 
  a(href="http://github.com/jadaradix") GitHub
  |.

p
  |I've written and maintained 
  a(href="") DS Game Maker
  |  for 7 years, there's 
  a(href="") this site
  |, 
  a(href="") my node.js cloud
  |  too and I've patched projects like 
  a(href="http://github.com/datacentred/phpipam") PHPIPAM
  |  as well.

p.
  Check them out!