p
  |Most of my work is open source on 
  a(href="http://github.com/jadaradix") GitHub
  |.

p
  |I've written and maintained 
  a(href="https://github.com/DSGameMaker") DS Game Maker
  |  for 7 years, there's 
  a(href="https://github.com/jadaradix/jadaSite") this site
  |, 
  a(href="https://github.com/jadaradix/jadaCloud") my node.js cloud
  |  and I've patched projects like 
  a(href="https://github.com/datacentred/phpipam") PHPIPAM
  |  as well.

p.
  Check them out!