section.no-break#details
  div


    div
      div
        ul.icons
          li
            span.look-at-me.name.
              Dominic Bealby-Wright
          li
            span.look-at-me.phone-email.
              +44 7762 792713 &nbsp;&nbsp;&nbsp; dominicsbw@gmail.com
