section.no-break#details
  div


    div
      div
        ul.icons
          li
            span.look-at-me.name.
              Dominic Bealby-Wright

          li
            span.look-at-me.
              dominicsbw@gmail.com

          li
            span.look-at-me.
              +44 79035 76776
