section.no-break#details
  div


    div
      div
        ul.icons
          li
            span.look-at-me.name.
              James Garner

          li
            span.look-at-me.
              j@jada.io

          li
            span.look-at-me.
              +44 79035 76776
