section
  header
    h2 Education
  div


    div.no-break
      aside
        span.look-at-me.
          Degree
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-graduation-cap
              span.highlight 2:1 Mathematics BA, University of Cambridge
        ul
          li
            span Additional summer research project on category theory
