section
  header
    h2 Work

  div


    div.no-break
      aside
        span.look-at-me Senior Data Scientist
        span Nov 17-Present
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight ContactEngine, London
        ul
          li
            span ContactEngine helps companies interact conversationally and proactively with their customers
          li
            span Led development of ContactEngine&rsquo;s natural language understanding capability, culminating in &lsquo;ALAN&rsquo;, an intent recognition service. Dockerised and tested stack (Python/PyTorch) deployed across major clients.
          li
            span Novel components include customised training routines to handle label noise and explainable AI techniques (I am lead inventor on pending US patent)
          li
            span Designed our custom data annotation workflow for labelling multiple intents within customer responses
          li
            span Worked closely with DevOps to develop processes where data scientists own their code and deploy their own models from experimentation to production as Azure microservices
          li
            span Key AI contact (including extensive work in the US) for market trial with top three US telco, which became our biggest client
          li
            span Successfully worked in cross-functional teams (customer success and sales) to perfect conversational design, thresholds and custom logic
          li
            span Mentored new joiners on machine learning, including sessions reading and implementing papers in code. Delivered company-wide sessions to explain essential AI concepts
          li
            span Presented quarterly review to ContactEngine&rsquo;s AI Advisory Board of academics


    div.no-break
      aside
        span.look-at-me Data Science Intern
        span Jan 17 - Oct 17
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight EY EMEIA IoT Advisory, Warsaw
        ul
          li
            span Worked with team building software sensors for oil refineries
          li
            span Developed production-quality ML models that use time-series data to make real-time predictions of hard-to-measure quantities
          li
            span Designed and built demo modelling paint mixing (R/Shiny) for presentation to The Dow Chemical Company
