section
  div


    a(id="engagement-sticky")
    div.no-break
      aside
        span.look-at-me Founder
        span Jan 20 -
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Sticky
              span &nbsp;(
              a.link(href="https://sticky.to" style="vertical-align: 2px;") https://sticky.to
              span )
        ul
          li
            span CEO. Solve problems in physical spaces with Sticky™ branded stickers.


    a(id="engagement-superawesome")
    div.no-break
      aside
        span.look-at-me Engineering Lead
        span Nov 18 - Jan 20
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight SuperAwesome
        ul
          li
            span Introduced engineering initiatives to create a culture of entrepreneurship. Line management (aligning on company initiatives and career mentorship).
          li
            span Delivered the next generation of PII-free advertising, taking the project from a proof-of-concept to a market-ready product with an enterprise customer. Achievements include introducing React and Jest, 100% test coverage and distributed architecture reaching Kubernetes scaling limits.


    a(id="engagement-arcadia")
    div.no-break
      aside
        span.look-at-me Senior Consultant
        span Jul 18 - Oct 18
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Arcadia/101 Ways
        ul
          li
            span Contract. On-site via 101 Ways helping Arcadia transform engineering and replatform to React and Node.js (SSR).
          li
            span Pair-owned greenfield component library (React/Styled Components) used accross 7 brands including Topshop, Topman and Miss Selfridge.
          li
            span Conducted dozens of contract technical interviews.


    a(id="engagement-storydust")
    div.no-break
      aside
        span.look-at-me Co-founder
        span Mar 18 - Jul 18
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Storydust/Entrepreneur First
              span &nbsp;(
              a.link(href="https://vimeo.com/277960656" style="vertical-align: 2px;") https://vimeo.com/277960656
              span )
        ul
          li
            span &ldquo;EF is the best place to find a co-founder, build a company and access the world&rsquo;s best investors. We&rsquo;ve helped build over 140 technology companies collectively worth over $1bn.&rdquo;
          li
            span Co-founded Storydust (EF10) which helped brands create &ldquo;authenticity at scale&rdquo; by letting them curate, license and use user-generated imagery of people using their products.
          li
            span Implemented Google-quality image search via unsupervised learning ontology. Subsecond responses through map-reduce query planning. Search results were influenced by feedback loops from live content engagement.
          li
            span Built enterprise-scale processing queue indexing over a million Instagram photos.
          li
            span Stack: Infrastructure-as-code microservice infrastructure (Node.js/Docker/CoreOS/RabbitMQ/Redis) on Google Cloud Platform, DigitalOcean and Azure with dynamic load balancing and alerting. 100% test coverage. React SPA.


    a(id="engagement-beamery")
    div.no-break
      aside
        span.look-at-me Engineer
        span Feb 17 - Mar 18
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Beamery
              span &nbsp;(
              a.link(href="https://beamery.com/careers-sites" style="vertical-align: 2px;") https://beamery.com/careers-sites
              span )
        ul
          li
            span Early hire in full stack engineering pre-Series A to post-Series B. &ldquo;Beamery is the world&rsquo;s most advanced sourcing and recruitment marketing platform, empowering companies to treat candidates like customers.&rdquo;
          li
            span Mentored Founders &amp; Coders interns through a full agile project alongside junior developer mentoring and pairing.
          li
            span Worked one-to-one with Facebook (US), Balfour Beatty, Grab (Singapore), Greenhouse and Roivant.
          li
            span Pair-lead development of candidate-facing Beamery Pages product (AngularJS/Node.js) which was key to Balfour Beatty&rsquo;s &ldquo;Outstanding Impact Transformation &amp; Change&rdquo; win in the Firm Awards.
          li
            span Lead frontend development of hiring analytics product, understanding candidate journeys from first visit to hire through Keen.io and Elasticsearch.
          li
            span Data visualisation and reporting in React. Supported work on micro-frontend architecture. Implemented GDPR workflows, real time socket.io notifications and advanced UI for Elasticsearch. Established end-to-end testing with Selenium/Cucumber before QAs.
          //- li
          //-   span Took ownership of open source Node.js Apache Tika bridge library from The International Consortium of Investigative Journalists. 


    a(id="engagement-playstation")
    div.no-break
      aside
        span.look-at-me Engineer
        span Mar 16 - Feb 17
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight PlayStation (R&amp;D at Sony Interactive Entertainment Europe)
        ul
          li
            span Full stack engineering on PlayStation's best-in-class developer platform between London and San Mateo, CA.
          li
            span Leadership on application's frontend strategy (build, dependencies, introducing AngularJS).
          li
            span Delivered AngularJS training to London and Bay Area senior engineers.
          li
            span Delivered sprint visualisation project with Node.js (GitHub API) and D3.
          li
            span Supported Architecture Board with greenfield serverless project on AWS (Node.js/CloudFormation/Elasticsearch).


    a(id="engagement-epsilon-data")
    div.no-break
      aside
        span.look-at-me Co-founder
        span 2015 - 2017
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Epsilon Data
        ul
          li
            span Epsilon Data was a profitable automated marketing startup, working with the UK&rsquo;s leading ethical tourism charity.
          li
            span Lead generation by finding Twitter conversations and replying intelligently through brands&rsquo; Twitter handles. Test-driven algorithms avoided spam.
          li
            span WYSIWYG landing pages with tracking from Twitter to website via client-side SDK.
          li
            span &ldquo;Deep Profiles&rdquo; parallel crawler technology automatically associated and clustered LinkedIn, Twitter and Facebook profiles.
          li
            span API-first insight platform (Node.js) with 0 downtime deployments through CloudFlare API. Failsafe integrations with Twitter, Google Images, Mapbox, GeoNames and Genderize.io.
          li
            span Self-service &ldquo;Client Portal&rdquo; (AngularJS); slide deck reporting with impress.js and Chartist. 3-year old codebase migrated to Browserify, Babel and Sass.


    a(id="engagement-relative-insight")
    div.no-break
      aside
        span.look-at-me Data Scientist
        span Nov 14 - Oct 15
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Relative Insight, Lancaster
        ul
          li
            span Developed Python web scrapers for high profile brands including Oxford University and Smirnoff. Published language normalisation algorithms for Mumsnet and Twitter.


    a(id="engagement-datacentred")
    div.no-break
      aside
        span.look-at-me Developer
        span Jun 14 - Sep 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight DataCentred, MediaCityUK, Manchester
        ul
          li
            span Internship. Co-delivered customer support app in Ruby on Rails/AngularJS in 3 months, reflecting real-time JIRA ticket activity. Implemented LDAP support in OSS project phpipam.


    a(id="engagement-next-world-web")
    div.no-break
      aside
        span.look-at-me Developer
        span Jun 13 - May 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight NextWorldWeb, InfoLab21, Lancaster
        ul
          li
            span Moved large legacy ecommerce systems to CakePHP, CS-Cart and WordPress. Automated WordPress theme creation from any site.


    a(id="engagement-dark-flow")
    div.no-break
      aside
        span.look-at-me Developer
        span 2011 - 2012
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight Dark Flow
              span &nbsp;(
              a.link(href="https://youtube.com/watch?v=yY3QpVo25lw" style="vertical-align: 2px;") https://youtube.com/watch?v=yY3QpVo25lw
              span )
        ul
          li
            span Lead a team of 5 developing a &ldquo;true cross platform game maker&rdquo; through .NET bytecode runner, browser and mobile support through native code generation.


    a(id="engagement-ds-game-maker")
    div.no-break
      aside
        span.look-at-me Founder
        span 2007 - 2011
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-building-o
              span.highlight DS Game Maker
              span &nbsp;(
              a.link(href="http://gamemakerblog.com/2010/09/22/ds-game-maker-5-ide-interface-looks-familiar/" style="vertical-align: 2px;") http://gamemakerblog.com/2010/09/22/ds-game-maker
              span )
        ul
          li
            span Created famous Nintendo DS homebrew game making software, selling over 1,500 serial codes and 350 physical &lsquo;Homebrew Kits&rsquo; by age 17.
          li
            span Adopted at American summer camps and site licenses sold worldwide. International logistics work with Hong Kong and support in German and Dutch.
