section.margin-top
  header
    h2 Talks + Hackathons
  div
    div.no-break
      aside
        span Jul 17
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight #HackingTalent
          li
            span First Prize. Suggesting top candidates for hard-to-fill vacancies by classifying job descriptions to form structured vacancy data. Team of 3.
    div.no-break
      aside
        span Jul 17
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight AngelHack London
          li
            span Chatbot personal assistant Chrome extension. Native Web Components frontend; Elasticsearch and Node.js backend with multiple API providers. Team of 4.
    div.no-break
      aside
        span Sep 16
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Capco Hackathon with Monzo and Loqr
          li
            span First Prize. API clustering spend data from Monzo&rsquo;s API to create financial personality profiles. Tinder-like profile matching client (Angular). Deployed in &gt; 5 hours&rsquo; keyboard time. Team of 3.
    //- div.no-break
    //-   aside
    //-     span Feb 16
    //-   div
    //-     ul.icons
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-keyboard-o
    //-           span.highlight PHP UK Hackathon
    //-       li
    //-         span Second Prize. Real time websocket powered Twitter sentiment analysis &ldquo;topic battle&rdquo; with MonkeyLearn, Pusher, Angular and HTML5 canvas tag clouds.
    div.no-break
      aside
        span Nov 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Global Startup Weekend 2014
          li
            span First Prize. One line JavaScript embed code for reputation based comments, quantifying personality to eliminate on-line trolls. Team of 4.
    div.no-break
      aside
        span Nov 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight Nintendo DS Homebrew, 2014 Edition
          li
            span Speaker at DunDDD conference, University of Dundee. &ldquo;Adventures in the retro Homebrew Scene&rdquo; and live demo of Nintendo DS development.
    div.no-break
      aside
        span Jul 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Greater Manchester Data Dive
          li
            span Statistical analysis and heatmapping of ~700,000 Tweets from the Greater Manchester region to find ways to connect the local community. Team of 6.
    div.no-break
      aside
        span Apr 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-microphone
              span.highlight InfoLab21 Showcase
          li
            span Presented &ldquo;Geosocial Networking Security&rdquo; research alongside PhD students, looking at reverse engineering Grindr to find user locations.
    div.no-break
      aside
        span Mar 14
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Hack Smart Streets 2014
          li
            span &lsquo;Most Commercially Viable&rsquo; Prize. API for public bodies to detect decaying street furniture from crowdsourced imagery using computer vision (ffmpeg/.NET). Team of 4.
    div.no-break
      aside
        span Aug 13
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight LeedsHack 2013
          li
            span First Prize. Mobile AR game &lsquo;Pacman City&rsquo; on Google Maps. Team of 3.
    //- div.no-break
    //-   aside
    //-     span More...
    //-   div
    //-     ul.icons
    //-       li
    //-         span LeedsHack 2013: First Prize. Mobile AR game &lsquo;Pacman City&rsquo; on Google Maps. Team of 3.
    //-       li
    //-         span LeedsHack 2012: Real-time multi-player Tower Defence on Google Maps. Team of 3.
    //- div.no-break
    //-   aside
    //-     span Jan 14
    //-   div
    //-     ul.icons
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-microphone
    //-           span.highlight Facebook Data Analysis
    //-       li
    //-         span Speaker for The Computer Science Society, Lancaster. &ldquo;What does Facebook say about you?&rdquo; .NET NLP framework for analysing Facebook chat logs to create a private social graph.
    //- div.no-break
    //-   aside
    //-     span.look-at-me London
    //-     span Nov 15
    //-   div
    //-     ul.icons
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-microphone
    //-           span.highlight One Vision: Universal JavaScript
    //-       li
    //-         span Grunt build system. Live demo of writing a PHP to JavaScript transition layer in ES2015.
    //- div.no-break
    //-   aside
    //-     span.look-at-me Lancaster
    //-     span Nov 12
    //-   div
    //-     ul.icons
    //-       li
    //-         span
    //-           span.fa.fa-fw.fa-microphone
    //-           span.highlight From UNIX to ARM: Make your own Nintendo DS Homebrew
    //-       li
    //-         span &ldquo;Compiling C programs for Nintendo platforms&rdquo;