section
  header
    h2 Projects
  div
    div.no-break
      aside
        span Nov 19
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Interactive visualisation of a million customer journeys
        ul
          li
            span Used D3.js and JavaScript to show transition of customers through a ContactEngine journey, demonstrating how ContactEngine technology (calls to AI APIs, scheduler, etc.) are applied to manage millions of conversations in parallel


    div.no-break
      aside
        span Apr 19
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Modelling vehicle breakdown for roadside assistance company
        ul
          li
            span Obtained proprietary dataset containing vehicle models, breakdown symptoms and resolutions
          li
            span Applied latent semantic indexing to discover what symptom features most correlate with particular faults
          li
            span Used by client to optimise engineering assignment and logistics


    div.no-break
      aside
        span Jan 18
      div
        ul.icons
          li
            span
              span.fa.fa-fw.fa-keyboard-o
              span.highlight Propensity modelling for energy company
        ul
          li
            span Combined proprietary customer data with Experian and public datasets (e.g. land registry valuations)
          li
            span Applied multiple correspondence analysis to identify factors that influence how customers are likely to respond to the offer of a smart meter
          li
            span This work resulted in delivering the client a model to predict the likelihood of a customer responding yes/no or not responding to targeted offers
