doctype html
html
  head
    link(rel='stylesheet', href='css/index.css')
    title James Garner
    meta(charset='UTF-8')
    meta(name='robots', content='INDEX, FOLLOW')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

  body
    #Wrapper.wrapper
      include _details.pug
      include _employment-history.pug
      include _professional-development.pug
      include _education.pug
