doctype html
html
  head
    link(rel='stylesheet', href='css/index.css')
    title Dominic Bealby-Wright
    meta(charset='UTF-8')
    meta(name='robots', content='INDEX, FOLLOW')
    meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
  body
    #Wrapper.wrapper
      include _details.jade
      include _employment-history.jade
      include _professional-development.jade
      include _education.jade
