- var js = ["jada", "angular-instance"]
- var css = ["jada"]
- var title = "404"
- var tileGroup = null
doctype html
html
  head
    include ../_head.jade
  body(ng-app="jadaSite")
    #Wrapper.wrapper(ng-controller="tilesController")
      aside.tile-column
        - tileGroup = "side"
        include ../_tiles.jade
      main.tile-column
        - tileGroup = "404-main"
        include ../_tiles.jade