p.
  The security of geosocial networking (a flaw in the Grindr mobile application to identify exactly where its users lived) and parsing, processing and analysing a Facebook personal archive as a basis for a statistical testing platform.