p
  |At the moment I'm a 2
  sup nd
  |year Computer Science student at 
  a(href="http://www.lancaster.ac.uk/") Lancaster University
  |. Alongside my degree I also work at 
  a(href="http://www.infolab21.lancs.ac.uk/") InfoLab21
  |, an &ldquo;international Centre of Excellence for research in information and communication technologies&rdquo; on university campus. InfoLab21 is remarkable. Not only is it a 5 minute walk from &lsquo;the Underpass&rsquo; (where you might arrive to or depart from campus), it's also situated far enough away from the bustle of student activity to feel like a real place of work. Green pastures stretch out from office windows and through the morning cyclists arrive in their droves for an honest day's work. The InfoLab21 caf&eacute;,
  a(href="http://www.lancaster.ac.uk/eat/cafe21.php") Caf&eacute;21
  |, is even meat-free.

figure
  img(src="../binaries/thoughts/poster/infolab.jpg", alt="InfoLab21 building")
  figcaption
    a(href="http://copperconcept.org/references/infolab-21-uk") InfoLab21, UK &mdash; European Copper Institute

p
  |One side of the building houses SCC, the
  a(href="http://www.scc.lancs.ac.uk/") School of Computing and Communications
  | (of which I am a member because I study Computer Science). The other side houses the KBC, the
  a(href="http://www.infolab21.lancs.ac.uk/about/kbc/") Knowledge Business Centre
  | (in which I work). The KBC was &ldquo;specifically developed to facilitate Knowledge Transfer and collaboration&rdquo;. This unification of academia and business makes InfoLab21 &ldquo;the UK''s Centre of ICT Excellence&rdquo; (UK Government''s Department of Energy and Climate Change, April 2009). It's not difficult to imagine the collaboration opportunities for academics and businesspeople when they enjoy the same place of work and culture of innovation day in day out. PhD students are also based at InfoLab21, albeit often in the basement (dont tell anyone I said that).

p
  |I fulfil multiple roles at InfoLab21, from being the President of
  a(href="http://www.lancaster.ac.uk/socs/compsoc/") The Computing Society
  |, which holds its meetings in a dedicated room, &lsquo;The Computing Society Lounge&rsquo;, to working for
  |a(href="http://www.nextworldweb.co.uk/") Next World Web
  |, a start up in the KBC. Because of this I'm aware that a lot cutting edge research, academic excellence and, in fact, pure genius, goes unrecognised to the general public and wider industry, who might just drive up the M6 and wonder just quite what InfoLab21, that &lsquo;strange green and orange building&rsquo;, is.

p
  |For this reason, an
  a(href="https://www.eventbrite.co.uk/e/infolab21-showcase-tickets-10699136405") InfoLab21 Showcase
  |(
  a(href="https://twitter.com/search?q=%23InfoShow14") #InfoShow14
  |) was organised for Wednesday 2
  sup nd 
  |April 2014. From the website:

blockquote.
  A special showcase day to share some of the interesting things we have going on in InfoLab21! Whether you would like to explore opportunities for new collaborations or just come and have a look at some of the current innovations from people in the building, we would love you to join us.

p.
  The Showcase was populated with people giving demonstrations and also presenting large posters. For the best demonstration, and the best poster, there were two iPad Mini devices to be won.

figure
  img(src="../binaries/thoughts/poster/taking-artwork-home.jpg", alt="Taking Artwork Home (@AugmentedArt) presenting their work")
  figcaption
    a(href="https://twitter.com/AugmentedArt") Taking Artwork Home (@AugmentedArt)
    |presenting their work

p.
  Since I'd been doing independent research into geosocial networking security and Facebook data analysis myself, it made sense to present this research and its results alongside other research which I believed may be of a similar quality and depth (research by PhD students). This was obviously a brave move since I'm still only a second year undergraduate student (as it happens I was the only undergraduate student who presented), but it was worth it.

p.
  My research was divided into 2 distinct areas both in the field of social networking analysis. The first area (chronologically) looked at the security of geosocial networking, seeking in particular to use a flaw in the Grindr mobile application to identify exactly where its users lived from anywhere in the world. The second area looked at parsing, processing and analysing a personal archive from Facebook to provide a testing platform on which, for example, the most negative people with whom the user had chatted could be identified. The current focus of this research is now on generating a Social Graph from the processed chat logs which is far more accurate than one derived from public data such as friend connections or &lsquo;likes&rsquo;.

figure
  img(src="../binaries/thoughts/poster/inquisitors.jpg", alt="Inquisitors! Inquisitors everywhere!")
  figcaption.
    Inquisitors! Inquisitors everywhere!

p
  |Of the two areas, I was comfortable presenting the Facebook data analysis research because I had already gained confidence in its credibility and level of interest from giving a talk on it to The Computing Society earlier in the year, before I was elected President. The President at a previous time had also congratulated me on my Grindr investigations informally at a free-pizza-bearing-bear-all-half-price-cocktails night out at 
  a(href="http://daltonrooms.co.uk/") Dalton Rooms
  | in town (in those days I used to go out more than once a month). This gave me the confidence that I could present both as part of cumulative research in the same social networking analysis field.

p.
  I decided against giving a demonstration because my research is not of the &lsquo;dynamic, live and exciting&rsquo; nature. It takes seconds of computation to parse and process the personal archive from Facebook, for example. As another example, I have never found demonstrations of statistics projects interesting (I think they hold greater merit when presented statically as well). Therefore, I presented a poster which summarised my methodologies, results and analyses. Of course, since I am also into clean, beautiful and functional design, a goal of the poster was to present the research attractively &mdash; this isn't common in research, I'm sad to reveal.

ul
  li
    a(href="../binaries/thoughts/poster/poster.pdf") Download Poster in PDF
  li
    a(href="../binaries/thoughts/poster/poster.pptx") Download Poster source (PPTX)

figure
  a(href="../binaries/thoughts/poster/poster.pdf")
    img(src="../binaries/thoughts/poster/poster.jpg", alt="Going Social Poster")
  figcaption
    Going Social: Geosocial Networking Security and Facebook Semantic Analysis

p
  |I didnt win the iPad Mini prize, but I also didnt expect to win. I'm aware its so clich&eacute; and cheesy to say &ldquo;it was about the taking part&rdquo;, but in this case it really was. For me, it was about presenting research alongside PhD students who had more experience and more time, and still to have done a good job. In fact, I had written &lsquo;2
  sup nd
  | year Computer Science&rsquo; at the bottom of the poster and one inquisitor had presumed that was the 2
  sup nd
  | year of my PhD studies. That was a reason to take part in itself. As I expected, the judges were adequately critical and objective, and asked about the future implications and commercial viability of the research. I'll admit that was a tough question! But the interest from business people, academics (who were very keen for me to &lsquo;drop them an e-mail&rsquo;) and my peers was extremely rewarding. My use of &lsquo;extremely&rsquo; there is accurate and justified.

figure
  img(src="../binaries/thoughts/poster/in-situ.jpg", alt="My big poster in situ")
  figcaption.
    My big poster in situ

p.
  I'd like to give a big shout out for the students, academics and businesspeople who showed the outstanding quality of InfoLab21s work, and for the staff who made this engaging event happen.

p.
  Until next time, keep social networking... but be careful who's watching.