p
  |At the moment I'm a 2
  sup nd
  |  year Computer Science student at 
  a(href="http://www.lancaster.ac.uk/") Lancaster University
  |. Alongside my degree I also work at 
  a(href="http://www.infolab21.lancs.ac.uk/") InfoLab21
  |, an &ldquo;international Centre of Excellence for research in information and communication technologies&rdquo; on university campus. I like InfoLab21 a lot. It's a 5 minute walk from &lsquo;the Underpass&rsquo; (where you probably arrive to or depart from campus), but it's also situated far enough away from the bustle of campus activity to feel like a real place of work. Green pastures stretch out from office windows and the InfoLab21 caf&eacute;,  
  a(href="http://www.lancaster.ac.uk/eat/cafe21.php") Caf&eacute;21
  |, is pescatarian as well.

figure
  img(src="static/infolab.jpg", alt="InfoLab21 building")
  figcaption
    a(href="http://copperconcept.org/references/infolab-21-uk") InfoLab21, UK &mdash; European Copper Institute

p
  |One side of the building houses SCC, the 
  a(href="http://www.scc.lancs.ac.uk/") School of Computing and Communications
  |  (my department). The other side houses the KBC, the 
  a(href="http://www.infolab21.lancs.ac.uk/about/kbc/") Knowledge Business Centre
  |  (where I work for a start up). The KBC was &ldquo;specifically developed to facilitate Knowledge Transfer and collaboration&rdquo;. This unification of academia and business makes InfoLab21 &ldquo;the UK's Centre of ICT Excellence&rdquo; (UK Government's Department of Energy and Climate Change, April 2009). It's not difficult to imagine the collaboration opportunities for academics and businesspeople when they enjoy the same place of work and culture of innovation every day. PhD students are also based at InfoLab21, even if in the basement (dont tell anyone I said that).

p
  |I do a lot at InfoLab21, from being the President of 
  a(href="http://www.lancaster.ac.uk/socs/compsoc/") The Computing Society
  |, which holds its meetings in a dedicated room, &lsquo;The Computer Science Society (CSS) Lounge&rsquo;, to working for 
  a(href="http://www.nextworldweb.co.uk/") Next World Web
  |, a start up in the KBC. Because of this I'm aware of a lot of cutting edge research and academic excellence, but this goes unrecognised to the general public and wider world (until the research is commercialised at least).

p
  |For this reason, the 
  a(href="https://www.eventbrite.co.uk/e/infolab21-showcase-tickets-10699136405") InfoLab21 Showcase
  | (
  a(href="https://twitter.com/search?q=%23InfoShow14") #InfoShow14
  |) was organised for Wednesday 2
  sup nd 
  |April 2014. From the website:

blockquote.message
  p
    span.fa.fa-fw.fa-comment-o
    span A special showcase day to share some of the interesting things we have going on in InfoLab21! Whether you would like to explore opportunities for new collaborations or just come and have a look at some of the current innovations from people in the building, we would love you to join us.

p.
  The Showcase was populated with people giving demonstrations and presenting research posters. For the best demonstration and the best poster, there were two iPad Mini devices to be won (TLDR: I didn't win, but anyway).

figure
  img(src="static/taking-artwork-home.jpg", alt="Taking Artwork Home (@AugmentedArt) presenting their work")
  figcaption
    a(href="https://twitter.com/AugmentedArt") Taking Artwork Home (@AugmentedArt)
    |presenting their work

p
  |I've been doing independent research into geosocial networking security and Facebook data analysis myself, so it made sense to present this research and its results alongside other research which I believed may be of a similar quality and depth (PhD, basically). This was a brave move because I'm still only a 
  sup 2
  |nd year undergraduate. Eek!

p.
  My research was divided into 2 distinct areas both in the field of social networking analysis. The first area looked at the security of geosocial networking, seeking in particular to use a flaw in Grindr to identify exactly where its users lived from anywhere in the world. The second area looked at parsing, processing and analysing a personal archive from Facebook to provide a testing platform on which, for example, the most negative people with whom the user had chatted could be identified. My current focus with this research is on generating a social graph from the private chats which is far more accurate than one derived from public data such as friend connections or &lsquo;likes&rsquo;. This ties into my final year project, which derives user interests via topic modeling.

figure
  img(src="static/inquisitors.jpg", alt="Inquisitors! Inquisitors everywhere!")
  figcaption.
    Inquisitors! Inquisitors everywhere!

p
  |I was most comfortable presenting the Facebook data analysis research because I gave a well received talk about it to The Computing Society earlier this year, before I was elected President. The President at the time congratulated me too on my Grindr reverse engineering on a drunken night out at 
  a(href="http://daltonrooms.co.uk/") Dalton Rooms
  |  in town. It was scary, but there were not so many unknowns.

p.
  I decided against giving a demonstration because my research is not of the &lsquo;dynamic, live and exciting&rsquo; nature. It takes a few seconds to parse and process the personal archive from Facebook (thousands of records in a massive continous HTML file). As another example, I have never found demonstrations of statistics projects very interesting (I think they hold greater merit when presented statically as well). So, I presented a poster which summarised my methodologies, results and analyses. Since I like good design a lot as well, I took great care in making the poster pretty and functional (this isn't common in research! It's hard when there's a lot of text and data).

ul
  li
    a(href="static/poster.pdf") Download Poster in PDF
  li
    a(href="static/poster.pptx") Download Poster source (PPTX)

figure
  a(href="static/poster.pdf")
    img(src="static/poster.jpg", alt="Going Social Poster")
  figcaption
    Going Social: Geosocial Networking Security and Facebook Semantic Analysis

p
  |I didnt win the iPad Mini prize, but I also didn't expect to win. It's so clich&eacute; and cheesy to say &ldquo;it was about the taking part&rdquo;, but actually it really was. Talking about your research and its implications is fun and shows a lot of passion. It was great to present alongside PhD students who had more experience and still to have done a good job. In fact, I wrote &lsquo;2
  sup nd
  | year Computer Science&rsquo; at the bottom of the poster and one inquisitor presumed that was the 2
  sup nd
  | year of my PhD. I wish! That was a good moment. In any case, as expected, the judges were adequately critical and objective, and asked about the future implications and commercial viability of the research. I'll admit these were tough questions. But the interest from business people, academics and my peers was really rewarding.

figure
  img(src="static/in-situ.jpg", alt="My big poster in situ")
  figcaption.
    My big poster in situ

p.
  I'd like to give a thanks to the students, academics and businesspeople who showed the outstanding quality of work at InfoLab21, and for the staff who made this engaging event happen.

p.
  Until next time, keep social networking... but be careful who's watching.