base(href="http://jada.io/")
each val in css
  link(rel='stylesheet', href='css/#{val}.scss.css')
title #{title}
meta(charset='UTF-8')
meta(name='robots', content='INDEX, FOLLOW')
meta(name='viewport',content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
script(src='js/ext/jquery.min.js')
script(src='js/ext/async.js')
each val in js
  script(src='js/#{val}.js')