div.tile-group(ng-show="groupHasTileRows('#{tileGroup}')")
  .tile-row(ng-repeat="tileRow in groupGetTileRows('#{tileGroup}')")
    .tile(ng-repeat="tile in tileRow", ng-attr-id="tile-{{tile.id}}", ng-class="getClasses(tile, 'tile')")
      .tile-content(ng-class="getClasses(tile, 'tileContent')", ng-click="showTile(tile)")
        div(ng-class="getClasses(tile, 'innerDiv')")
          h1(ng-show="tile.title") {{tile.title}}
          div(remote-bind="tile.contentPreview")
          ul.tags
            li(ng-repeat="tag in tile.tags")
              span.fa(ng-class="tag.class")
              span {{tag.text}}
- if (tileGroup == "main")
  div.tile-group(ng-show="currentTile")
    .tile-row.spread-wide.flexible
      .tile.spread.static#tile-main
        .tile-content.bg-navy
          h1(ng-show="currentTile.title") {{currentTile.title}}
          ul.tags
            li(ng-repeat="tag in currentTile.tags")
              span.fa(ng-class="tag.class")
              span {{tag.text}}
          div(remote-bind="currentTile.content")