div(ng-controller="statsController")
  img.bg(ng-show="nowPlayingSong.image", ng-src="{{nowPlayingSong.image}}")
  div(id="tile-stats-inner")
    div(ng-show="hasSongs()")
      h2 Now Listening
      ul.fa-ul
        li(ng-repeat="song in songs")
          span.fa-li.fa.fa-play(ng-show="song.nowPlaying")
          span.fa-li.fa.fa-music(ng-hide="song.nowPlaying")
          span {{song.name}} 
          span.opaque {{song.artist}}
          span.opaque(ng-hide="song.nowPlaying") , 
          span.opaque(ng-hide="song.nowPlaying", am-time-ago="song.when")
    div(ng-show="hasCommits()")
      h2 Latest Commits
      ul.fa-ul
        li(ng-repeat="commit in commits")
          span.fa-li.fa.fa-code
          span {{commit.message}}