/* From http://stackoverflow.com/questions/11402698/webkit-opacity-transition-issues-with-text */
html {
  -webkit-font-smoothing: antialiased;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear-fix {
  content: "";
  display: table;
  clear: both;
}

.hide {
  display: none;
}

.fade {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.do-fade {
  opacity: 1 !important;
}

.do-fade-weak {
  opacity: 0.9 !important;
}

.no-overflow {
  overflow: hidden !important;
}

.no-split {
  white-space: nowrap;
}

.listen-case {
  text-transform: none;
}

.no-break {
  page-break-inside: avoid;
}

.align-center {
  text-align: center;
}

.opaque {
  opacity: 0.5;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub {
  top: 0.4em;
}

body {
  color: $fg;
  font: $font-body-size $font-body;
}

.wrapper {
  margin: 0 auto 0 auto;
  max-width: $r-width-2;
  padding: $spacing;
  > div > h1 {
    font-size: 44px;
    color: black;
    text-align: center;
    text-transform: none;
    letter-spacing: -1.5px;
    padding-top: 0;
  }
}

.wrapper:after {
  @extend .clear-fix;
}

#Content {
  display: none;
}

ul {
  margin-left: $spacing * 1.5;
  li {
    margin-bottom: 3px;
    line-height: $spacing;
  }
}

ul:after {
  @extend .clear-fix;
}

a.link {
  font-weight: bold;
  color: $turquoise;
  margin-left: 2px;
  margin-right: 2px;
}

a {
  text-decoration: none;
  @extend .no-split;
}

h1, h2, h3 {
  font-family: $font-heading;
  font-weight: normal;
  text-transform: uppercase;
  opacity: 0.75;
}

h1 {
  padding-top: $spacing;
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

p {
  margin: ($spacing / 2) 0 ($spacing / 2) 0;
  padding: 0;
  text-align: justify;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

span.phone {
  letter-spacing: 1px;
}
