#avatar {
  margin-top: $spacing;
  img {
    display: block;
    margin: 0 auto 0 auto;
    width: 192px;
    border: 4px solid white;
    box-shadow: 0 0 6px $light-gray;
    border-radius: 50%;
  }
}

#details {
  li {
    float: left;
    margin-top: 2px;
    font-size: 150%;
  }
  li + li {
    margin-left: 1rem;
  }
  li:not(:first-child) {
    opacity: 0.5;
  }
  ul {
    margin-right: 10%;
  }
}
