//Fonts
$font-body-size: 18px;
$font-body:  'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

//Sizes
$spacing: 16px;
$radius: 3px;
$tile-size: 284px;
$scrollbar-width: 16px;

//Responsive Sizes
$r-width-1: ($tile-size * 2) + ($spacing * 3);
$r-width-2: ($tile-size * 3) + ($spacing * 4);

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/Inter.var.woff2') format('woff2');
}

strong, strong span {
  font-weight: 450;
  font-variation-settings: 'wght' 550, 'slnt' 0;
}
